<div>
    <h1 mat-dialog-title>{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.TITLE' | translate}}</h1>
</div>

<div mat-dialog-content>
    <bp-contact-person-detail-form #contactDetail
                                   [data]="data"
                                   (onCancelChange)="onCancelChange()"
                                   (onActionSuccess)="onActionSuccess()">
    </bp-contact-person-detail-form>
</div>