:host {
  .btn-select {
    background: rgba(51, 122, 183, 1);
    color: white;
  }
  .btn-edit {
    background: rgba(240, 173, 78, 1);
    color: white;
  }

  .btn-new {
    background: rgba(91, 192, 222, 1);
    color: white;
  }

  .btn-save {
    background: rgba(92, 184, 92, 1);
    color: white;
  }

  .btn-delete {
    background: rgba(217, 83, 79, 1);
    color: white;
  }

  .btn-disabled {
    background: rgba(191, 191, 191, 1) !important;
    color: white;
  }

  .address-tb {
    // border: 1px solid #bfbfbf;
    // border-radius: 10px;
    td {
      border-bottom: 1px solid #ddd;
      vertical-align: top;
      padding-bottom: 3px;
    }
  }

  .disabled-link {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
  }

  .btn-disabled {
    background: rgba(191, 191, 191, 1) !important;
    color: white;
  }

  .label {
    color: #b0b0b0
  }
}