<div>
    <div>
        <h1 mat-dialog-title>{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.TITLE' | translate}}</h1>
    </div>

    <div mat-dialog-content>
        <div>
            <form [formGroup]="frm"
                  fxLayout="row"
                  fxLayoutGap="20px"
                  class="pb-30">
                <mat-checkbox class="example-margin"
                              formControlName="active">{{'DEPARTMENTS.CHECKBOX.ACTIVE' | translate}}
                </mat-checkbox>
                <mat-checkbox class="example-margin"
                              formControlName="partnerVisible">{{'DEPARTMENTS.CHECKBOX.PARTNER' | translate}}
                </mat-checkbox>
                <mat-checkbox class="example-margin"
                              formControlName="publicVisible">{{'DEPARTMENTS.CHECKBOX.PUBLIC' | translate}}
                </mat-checkbox>
            </form>
            <div class="w-full"
                 fxLayout="column"
                 fxLayout.gt-xs="row"
                 fxLayoutGap="20px">
                <button id="btnSave"
                        [disabled]="submitted"
                        class="btn-save"
                        mat-raised-button
                        (click)="onSubmit()">
                    <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                </button>
                <button id="btnDelete"
                        [disabled]="submitted || !data.departmentContactPersonId"
                        [ngClass]="{'btn-disabled': !data.departmentContactPersonId}"
                        type="button"
                        class="btn-delete"
                        mat-raised-button
                        (click)="delete()">
                    <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                </button>
                <button id="btnCancel"
                        [disabled]="submitted"
                        type="button"
                        class="mat-white-bg"
                        mat-raised-button
                        (click)="cancel()">
                    <span>{{'BUTTON.CANCEL'| translate}}</span>
                </button>
            </div>
            <mat-error class="pt-10"
                       *ngIf="frmError">
                {{'DEPARTMENTS.FORM_VALIDATOR.BP_CONTACT_PERSON_REQUIRED' | translate}}
            </mat-error>
        </div>
        <div class="pt-10">
            <div fxLayout="row"
                 fxLayoutAlign="start center">
                <h1>{{'DEPARTMENTS.EDIT_BP_CONTACT_TITLE' | translate}}:</h1>
                <div fxLayout="row"
                     fxLayoutGap="20px"
                     class="pl-25">
                    <div>
                        <a class="font-17 pointer"
                           (click)="selectContact()">{{'BUTTON.SELECT'| translate}}</a>
                    </div>
                    <div>
                        <a class="font-17 pointer" [ngClass]="{'disabled-link': !bpContactDetail}"
                           (click)="editContact()">{{'BUTTON.EDIT'| translate}}</a>
                    </div>
                    <div>
                        <a class="font-17 pointer"
                           (click)="createContact()">{{'DEPARTMENTS.BUTTON.ADD_NEW_BP_CONTACT'| translate}}</a>
                    </div>
                </div>
            </div>
            <div class="font-17">

                <table class="w-full address-tb">
                    <tr>
                        <td class="max-w-4 min-w-4 label"
                            width="200">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.SALUTATION' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.salutation}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.NAME' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.name}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.POSITION' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.position}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.PHONE' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.contact.phone}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.PHONE_2' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.contact.phone2}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.SMS_SUPORT' | translate}}:</td>
                        <!-- <td class="font-w-500">{{bpContactDetail?.contact.smsSupport ? 'DEPARTMENTS.MESSAGE.YES' : '' | translate}}</td> -->
                        <td>
                            <mat-checkbox
                                [checked]="bpContactDetail?.contact.smsSupport"
                                [disabled]="true">
                            </mat-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.MMS_SUPORT' | translate}}:</td>
                        <!-- <td class="font-w-500">{{bpContactDetail?.contact.mmsSupport ? 'DEPARTMENTS.MESSAGE.YES' : '' | translate}}</td> -->
                        <td>
                            <mat-checkbox
                                [checked]="bpContactDetail?.contact.mmsSupport"
                                [disabled]="true">
                            </mat-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.EMAIL' | translate}}:</td>
                        <td class="font-w-500">
                            <a [href]="'mailto:' + bpContactDetail?.contact.email">
                                {{bpContactDetail?.contact.email}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.WEBSITE' | translate}}:</td>
                        <td class="font-w-500">
                            <a [href]="'//'+bpContactDetail?.contact.website"
                               target="_blank">
                                {{bpContactDetail?.contact.website}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.OTHER_CONTACT' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.contact.otherContact}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.NOTE' | translate}}:</td>
                        <td class="font-w-500">{{bpContactDetail?.note}}</td>
                    </tr>
                    <tr>
                        <td class="max-w-4 min-w-4 label">{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.ADDRESS' | translate}}:</td>
                        <td class="font-w-500">
                            <div fxLayout="column">
                                <span>{{bpAddressDetail?.street}} {{bpAddressDetail?.streetNumber}}</span>
                                <span>{{bpAddressDetail?.streetNote}}</span>
                                <span>{{bpAddressDetail?.zipCode}} {{bpAddressDetail?.cityName}}</span>
                                <span>{{bpAddressDetail?.stateName}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="max-w-4 min-w-4 label">
                        <td>{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.IS_ACTIVE' | translate}}:</td>
                        <td class="font-w-500">
                            <mat-checkbox
                                [checked]="bpContactDetail?.isActive"
                                [disabled]="true">
                            </mat-checkbox>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>