<form [formGroup]="richTextForm">
  <label class="label">{{label}}</label>
  <quill-editor placeholder="" #quillEditor [modules]="modules" [formControl]="richTextForm.controls['editor']"
              (onContentChanged)="onContentChanged($event)">
  </quill-editor>
</form>