<div>
    <mat-table #table
               [dataSource]="dataSource"
               fusePerfectScrollbar>

        <ng-container cdkColumnDef="accountNumber">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.ACCOUNT_NUMBER' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.accountNumber}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="bankCode">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.BANK_CODE' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.bankCode}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="validFrom">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.VALID_FROM' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.validFrom | localizedDate | async}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="validTill">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.VALID_TILL' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.validTill | localizedDate | async}}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matRipple
                 *cdkRowDef="let row; columns: displayedColumns;"
                 (click)="goToDetail(row)">
        </mat-row>
    </mat-table>
</div>