:host {
    .mat-header-row {
        min-height: 45px;
    }

    .mat-header-cell {
        font-size: 14px
    }

    .mat-column-validTill {
        padding-right: 0 !important;
        max-width: 150px;
    }
    .mat-column-validFrom {
        max-width: 150px;
    }
    .mat-column-bankCode {
        max-width: 100px;
    }
    .mat-column-accountNumber {
        max-width: 150px;
    }
}