:host {
  .mat-column-name {
    max-width: 300px;
  }

  .mat-column-mcSystemTypeName {
    max-width: 150px;
  }

  .mat-column-areaName {
    max-width: 150px;
  }

  .mat-column-validFrom {
    max-width: 100px;
  }

  .mat-column-validTill {
    max-width: 100px;
  }
}