<div id="products"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="space-evenly start">
            <app-breadscumb></app-breadscumb>
            <div fxLayout="column" class="w-full min-h-13"
                 fxLayoutAlign="center center"
                 fxLayout.gt-xs="row"
                 fxLayoutAlign.gt-xs="space-between center">
                 <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex.xs="100%"
                     fxFlex.gt-xs="50%">
                    <mat-icon class="logo-icon mr-16"> local_hospital </mat-icon>
                    <span class="logo-text h1"> {{'MC_SYSTEM.TITLE' | translate}} </span>
                </div>

                <div>
                    <button mat-raised-button
                            color="primary"
                            (click)="addNew()"
                            class="my-12 mt-sm-0 ml-10">
                        <span>{{'MC_SYSTEM.BUTTON.NEW_SYSTEM' | translate}}</span>
                    </button>
                </div>
                <!-- / APP TITLE -->

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg pos-relativ">
            <mat-table #table
                       [ngClass]="{'d-none': !dataSource.totalCount}"
                       [dataSource]="dataSource"
                       fusePerfectScrollbar>

                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef>{{'MC_SYSTEM.TABLE.COL_NAME' | translate}}</mat-header-cell>
                    <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}" *cdkCellDef="let row">
                        <p class="text-truncate">{{row.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="mcSystemTypeName">
                    <mat-header-cell *cdkHeaderCellDef>{{'MC_SYSTEM.TABLE.COL_TYPE' | translate}}</mat-header-cell>
                    <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}" *cdkCellDef="let row">
                        <p class="text-truncate">{{row.mcSystemTypeName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="areaName">
                    <mat-header-cell *cdkHeaderCellDef>{{'MC_SYSTEM.TABLE.COL_AREA' | translate}}</mat-header-cell>
                    <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}" *cdkCellDef="let row">
                        <p class="text-truncate">{{row.areaName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="validFrom">
                    <mat-header-cell *cdkHeaderCellDef>{{'MC_SYSTEM.TABLE.COL_VALID_FROM' | translate}}</mat-header-cell>
                    <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}" *cdkCellDef="let row">
                        <p class="text-truncate">{{row.validFrom | localizedDate | async}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="validTill">
                    <mat-header-cell *cdkHeaderCellDef>{{'MC_SYSTEM.TABLE.COL_VALID_TILL' | translate}}</mat-header-cell>
                    <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}" *cdkCellDef="let row">
                        <p class="text-truncate">{{row.validTill | localizedDate | async}}</p>
                    </mat-cell>
                </ng-container>


                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row matRipple (click)="goToDetail(row)"
                         *cdkRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator #tablePaginator
                           [ngClass]="{'d-none': !dataSource.totalCount}" 
                           [length]="dataSource.totalCount"
                           [pageIndex]="0"
                           [pageSize]="20">
            </mat-paginator>

            <loading-view *ngIf="dataSource.loading$ | async"></loading-view>

            <div *ngIf="!dataSource.totalCount" class="no-data">{{'MC_SYSTEM.MESSAGE.NO_SYSTEM' | translate}}</div>
            <div *ngIf="!dataSource.totalCount" class="no-data">{{'NO_RESULTS' | translate}}</div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>