<div class="p-24 max-w-17">
    <treeview-chooser #treeViewChooser [selectedTreeData]="selectedTree"
                      [availableTreeData]="availableTree"
                      (onSelectedListChange)="onSelectedListChange($event)">
    </treeview-chooser>

    <div class="w-full bd-top">
        <div class="pl-20 pb-10 pt-10 max-w-12" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px" fxLayoutAlign="start center">
            <button id="btnSave" [disabled]="submitted" color="primary" mat-raised-button  (click)="save()">
                <mat-icon>save</mat-icon>
                <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
            </button>
            <!-- <button id="btnCancel" [disabled]="submitted" type="button" class="mat-white-bg" mat-raised-button  (click)="cancel()">
                <span>{{'BUTTON.CANCEL'| translate}}</span>
            </button> -->
            <button id="btnManageTag" [disabled]="submitted" color="primary" type="button" mat-raised-button  (click)="manageTags()" [activeFor]="canEditTag" >
                <span>{{'TAGS_MANAGEMENT.BUTTON.MANAGE_TAGS'| translate}}</span>
            </button>
        </div>
        <div *ngIf="assignedTagChange" class="pl-20" style="color: red">
                {{'TAGS_MANAGEMENT.MESSAGE.UNSAVE_CHANGES_WARNING'| translate}}
        </div>
    </div>
</div>