<div>
    <div>
        <h1 mat-dialog-title>{{'BUSINESS_PARTNER.PARTNER_DETAIL.ADDRESSES.TITLE' | translate}}</h1>
    </div>

    <div mat-dialog-content>
        <bp-address-detail-form #addressDetail
            [data]="data"
            (onCancelChange)="onCancelChange()"
            (onActionSuccess)="onActionSuccess()"
        ></bp-address-detail-form>
    </div>
</div>