:host {
  .partnerVisible {
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: goldenrod;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .publicVisible {
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: limegreen;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .mat-column-publicVisible {
    max-width: 30px;
  }

  .mat-column-partnerVisible {
    max-width: 50px;
    padding-right: 0 !important
  }

  .mat-column-bpAddressTypeName {
    padding-right: 0 !important
  }

  .mat-header-row {
    min-height: 45px;
  }
  .mat-header-cell {
    font-size: 14px
  }

  .mat-column-zip {
    max-width: 100px !important;
  }

  .mat-column-street {
    max-width: 300px !important;
  }

  .mat-column-city {
    max-width: 300px !important;
  }

  .mat-column-stateName {
    max-width: 300px !important;
  }

  .mat-column-postalAddress {
    max-width: 70px !important;
    padding-right: 0 !important
  }

  .mat-column-invoiceAddress {
    max-width: 70px !important;
  }

  .blue-icon {
    color: green;
  }

}