<div>
    <mat-table #table
               [dataSource]="dataSource"
               fusePerfectScrollbar>

        <ng-container cdkColumnDef="street">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.STREET' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.street}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="city">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.CITY' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.city}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="zip">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.ZIP' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.zip}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="stateName">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.STATE' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.stateName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="bpAddressTypeName">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.ADDRESS_TYPE' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.bpAddressTypeName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="invoiceAddress">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.INVOICE' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <mat-icon class="blue-icon" *ngIf="row.invoiceAddress">check</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="postalAddress">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_ADDRESSES.POSTAL' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="true"
                      *cdkCellDef="let row">
                <mat-icon class="blue-icon" *ngIf="row.postalAddress">check</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container *ngIf="isDepartmentAddress" cdkColumnDef="publicVisible">
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                        *cdkCellDef="let row">
                <div matTooltip="{{'BP_ADDRESSES.VISIBLE_FOR_PUBLIC' | translate}}" *ngIf="row.publicVisible" class="publicVisible"></div>
            </mat-cell>
        </ng-container>

        <ng-container *ngIf="isDepartmentAddress" cdkColumnDef="partnerVisible">
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                    *cdkCellDef="let row">
                <div matTooltip="{{'BP_ADDRESSES.VISIBLE_FOR_PARTNERS' | translate}}" *ngIf="row.partnerVisible" class="partnerVisible"></div>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matRipple
                 *cdkRowDef="let row; columns: displayedColumns;"
                 (click)="rowClick(row)">
        </mat-row>
    </mat-table>
</div>