<div id="products"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column"
             fxLayoutAlign="center center"
             fxLayout.gt-xs="row"
             fxLayoutAlign.gt-xs="flex-start center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 fxFlex.xs="100%"
                 fxFlex.gt-xs="50%">
                <span class="logo-text h1"> {{'TEST_ERROR_TITLE' | translate}} </span>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="column"
                 fxLayoutAlign="center center"
                 fxLayout.gt-xs="row"
                 fxLayoutAlign.gt-xs="space-between center"
                 fxFlex.xs="100%"
                 fxFlex.gt-xs="50%">
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg pos-relativ">
            <mat-tab-group class="h-full">
                <mat-tab label="{{'TEST_TAB' | translate}}">
                    <div class="p-24"
                         fxLayout="column"
                         fusePerfectScrollbar>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="testKnownException()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_KNOWN_EXCEPTION' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    [disabled]="submitted"
                                    color="primary"
                                    (click)="testCommunication()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_COMMUNICATION' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="test401()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_401' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="test403()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_403' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="test500()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_500' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="testInfo()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_INFO' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="testWarning()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_WARN' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="testError()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_ERROR' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="testErrors()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_ERRORS' | translate}}</span>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button
                                    color="primary"
                                    (click)="testMultipleUnauthorizeErrors()"
                                    class="my-12 mt-sm-0 ml-10">
                                <span>{{'BUTTON.TEST_3X401' | translate}}</span>
                            </button>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="{{'USER_INFO_TAB.TITLE' | translate}}">
                    <user-info></user-info>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>