<div class="dialog_header">
    <h1 style="text-align: center"
        mat-dialog-title>{{'BUSINESS_PARTNER.FIND_REGISTER_PARTNER_TITLE' | translate}}</h1>
</div>
<form [formGroup]="frm"
      class="w-100-p">
    <div mat-dialog-content>
        <mat-form-field class="w-100-p">
            <input matInput [autofocus]="true"
                   maxlength="8"
                   #companyId
                   formControlName="companyId"
                   placeholder="{{'BUSINESS_PARTNER.ENTER_COMPANY_ID' | translate}}">
            <mat-hint align="end">{{companyId.value.length}} / 8</mat-hint>
            <mat-error *ngIf="frm.get('companyId').hasError('required')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.COMPANY_ID_REQUIRED' | translate}}
            </mat-error>
            <mat-error *ngIf="frm.get('companyId').hasError('maxlength') || frm.get('companyId').hasError('minlength')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.LENGTH' | translate}}
            </mat-error>
            <mat-error *ngIf="frm.get('companyId').hasError('pattern')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.NON_DIGIT' | translate}}
            </mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions
         fxLayout="row"
         fxLayoutAlign="space-between start">
        <button color="primary"
                id="btnCancel"
                mat-button
                type="button"
                (click)="close(false)">{{'BUTTON.CANCEL' | translate}}
        </button>
        <button mat-button
                id="btnOk"
                color="accent"
                (click)="close(true)"
                cdkFocusInitial>{{'BUTTON.OK' | translate}}
        </button>
    </div>
</form>