<div id="product"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column"
             fxLayoutAlign="space-evenly start">
             <app-breadscumb #breadscrumb></app-breadscumb>
             <!-- APP TITLE -->
            <div id="header" fxLayout="row" fxLayoutAlign="start center" class="h2 min-h-13">
                {{'TAGS_MANAGEMENT.TAG_TYPE_MANAGMENT_TITLE' | translate}}: {{entityName}}
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content"
                 fxLayout="column">
                <div class="w-100-p"
                     fxLayout="column"
                     fxLayoutAlign="space-between start"
                     fxFlex>
                    <div class="tag-list w-full p-24"
                         fusePerfectScrollbar>
                        <mat-selection-list>
                            <mat-list-option (click)="onSelectType(type)"
                                             *ngFor="let type of tagTypes">
                                {{type.name}}
                                <mat-divider></mat-divider>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>

                    <div class="w-full bd-top">
                        <div class="pl-20 pb-10 pt-10 max-w-12"
                             fxLayout="column"
                             fxLayout.gt-xs="row"
                             fxLayoutGap="30px"
                             fxLayoutAlign="start center">
                            <button id="btnSave"
                                    [disabled]="submitted"
                                    color="primary"
                                    mat-raised-button
                                    (click)="newTagtype()">
                                <span class="pl-5">{{'TAGS_MANAGEMENT.BUTTON.NEW_TAG_TYPE'| translate}}</span>
                            </button>
                            <button id="btnCancel"
                                    [disabled]="submitted"
                                    type="button"
                                    class="mat-white-bg"
                                    mat-raised-button
                                    (click)="close()">
                                <span>{{'BUTTON.CLOSE'| translate}}</span>
                            </button>
                        </div>
                    </div>

                </div>

                <loading-view *ngIf="isLoadingTags"></loading-view>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>