<div class="dialog_header">
  <h1 style="text-align: center"
      mat-dialog-title>{{'MODAL.TITLE.LEAVE_PAGE' | translate}}</h1>
</div>

<div mat-dialog-content>
  <p class="msg">{{'MODAL.CONTENT.LEAVE_PAGE' | translate}}</p>
</div>

<div
   mat-dialog-actions
   fxLayout="row"
   fxLayoutAlign="space-between start">
  <button color="primary" id="btnNo"
          mat-button
          (click)="close(false)">{{'BUTTON.NO' | translate}}
  </button>
  <button mat-button id="btnYes"
          color="accent"
          (click)="close(true)"
          cdkFocusInitial>{{'BUTTON.YES' | translate}}
  </button>
</div>
