<div>
    <mat-table #table
               [dataSource]="dataSource"
               fusePerfectScrollbar>

        <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.DEPARTMENTS.DEPARTMENT_NAME' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.name}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="typeName">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.DEPARTMENTS.TYPE' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.typeName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="specialtyName">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.DEPARTMENTS.SPECIALTY' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.specialtyName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="validFrom">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.DEPARTMENTS.VALID_FROM' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.validFrom | localizedDate | async}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="validTill">
            <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.PARTNER_DETAIL.DEPARTMENTS.VALID_TILL' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.validTill | localizedDate | async}}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matRipple 
                 *cdkRowDef="let row; columns: displayedColumns;"
                 (click)="onRowclick(row)">
        </mat-row>
    </mat-table>
</div>