:host {
  .mat-header-row {
    min-height: 45px;
  }

  .mat-header-cell {
    font-size: 14px
  }

  .mat-column-name {
    max-width: 300px !important;
  }

  .mat-column-typeName {
    max-width: 300px !important;
  }

  .mat-column-specialtyName {
    max-width: 300px !important;
  }

  .mat-column-validFrom {
    max-width: 150px !important;
  }

  .mat-column-validTill {
    max-width: 150px !important;
    padding-right: 0 !important
  }
}