<div id="error-404" fxLayout="column" fxLayoutAlign="center center">

  <div class="content" fxLayout="column" fxLayoutAlign="center center">

    <!-- <div class="error-code">404</div> -->

    <div class="message">{{'NOT_FOUND.MESSAGE' | translate}}</div>

    <a class="back-link" [routerLink]="'/dashboard'">{{'NOT_FOUND.GO_BACK_MESSAGE' | translate}}</a>

  </div>

</div>
