<div>
    <h1 mat-dialog-title>{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.TITLE' | translate}}</h1>
</div>

<div mat-dialog-content>
    <form [formGroup]="frm">
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
          <div class="w-full">
            <mat-form-field class="w-100-p">
                <input name="accountNumber"
                       matInput
                       required
                       maxlength="20" 
                       formControlName="accountNumber"
                       placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.ACCOUNT_NUMBER' | translate}}">
                  <mat-error *ngIf="frm.get('accountNumber').hasError('required')">
                    {{'BUSINESS_PARTNER.FORM_VALIDATOR.BANK_ACCOUNT_NUMBER_REQUIRED' | translate}}
                  </mat-error>
                  <mat-error *ngIf="frm.get('accountNumber').hasError('invalidFormat')">
                    {{'BUSINESS_PARTNER.FORM_VALIDATOR.BANK_ACCOUNT_NUMBER_FORMAT' | translate}}
                  </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100-p">
                <input name="bankCode" #bankCode
                       maxlength="4" 
                       matInput
                       required
                       numbersOnly
                       placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.BANK_CODE' | translate}}"
                       formControlName="bankCode">
                <mat-hint align="end">{{bankCode.value.length}} / 4</mat-hint>
                <mat-error *ngIf="frm.get('bankCode').hasError('required')">
                    {{'BUSINESS_PARTNER.FORM_VALIDATOR.BANK_ACCOUNT_CODE_REQUIRED' | translate}}
                </mat-error>
                <mat-error *ngIf="frm.get('bankCode').hasError('minlength') ||frm.get('bankCode').hasError('pattern')">
                    {{'BUSINESS_PARTNER.FORM_VALIDATOR.BANK_ACCOUNT_CODE_RULES' | translate}}
                </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="w-100-p">
            <input name="bankName"
                   matInput
                   formControlName="bankName"
                   placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.BANK_NAME' | translate}}">
        </mat-form-field>
    
        <div>
            <mat-select-search
                (textSearchServerChange)="onSearchState($event)"
                [keyField]="'code'"
                [searchOnServer]="true"
                [debounceTime]="500"
                [placeholderSearch]="'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SEARCH_FOR_STATE' | translate"
                [placeholder]="'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SEARCH_FOR_STATE' | translate" [list]="states"
                formControlName="state">
            </mat-select-search>
            <mat-error *ngIf="frm.get('state').hasError('required')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.STATE_REQUIRED' | translate}}
            </mat-error>
        </div>

       

        <mat-form-field class="w-100-p">
            <input name="bic"
                   matInput
                   formControlName="bic"
                   placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.BIC' | translate}}">
        </mat-form-field>

        <mat-form-field class="w-100-p">
            <input name="iban"
                   matInput
                   formControlName="iban"
                   placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.IBAN' | translate}}">
        </mat-form-field>
        
        <date-range-picker #dateRangePicker 
            formControlName="dateRange" 
            [requiredErrorMsg]="'BUSINESS_PARTNER.FORM_VALIDATOR.VALIDFROM_REQUIRED' | translate"
            [invalidRangeMsg]="'FORM_VALIDATOR.DATE_RANGE_INVALID' | translate"
            [startLabel]="'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.VALID_FROM' | translate"
            [endLabel]="'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.VALID_TILL' | translate">
        </date-range-picker>

        <mat-form-field class="w-100-p">
            <input name="note"
                   matInput
                   formControlName="note"
                   placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.NOTE' | translate}}">
        </mat-form-field>
        
        <div class=" pt-20" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
            <button id="btnSave" [disabled]="submitted" color="primary" mat-raised-button  (click)="onSubmit()">
                <mat-icon>save</mat-icon>
                <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
            </button>
            <button id="btnDelete" [disabled]="submitted || !data.accountId" type="button" color="warn" mat-raised-button  (click)="delete()">
                <mat-icon>delete</mat-icon>  
                <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
            </button>
            <button id="btnCancel" [disabled]="submitted" type="button" class="mat-white-bg" mat-raised-button  (click)="cancel()">
                <span>{{'BUTTON.CANCEL'| translate}}</span>
            </button>
        </div>
    </form>
</div>