<form [formGroup]="frm"
      class="p-20 max-w-14">

    <mat-form-field class="w-100-p">
        <input name="name"
               required
               matInput
               formControlName="name"
               placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.NAME' | translate}}">
        <mat-error *ngIf="frm.get('name').hasError('required')">
            {{'BUSINESS_PARTNER.FORM_VALIDATOR.NAME_REQUIRED' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100-p">
        <input name="nameShortcut"
               matInput
               formControlName="nameShortcut"
               placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SHORTCUT' | translate}}">
    </mat-form-field>

    <div fxLayout="column"
         class="w-full"
         fxLayout.gt-xs="row"
         fxLayoutGap="10px">
        <mat-form-field class="w-100-p">
            <input name="companyId"
                   required
                   matInput
                   formControlName="companyId"
                   placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.COMPANY_ID' | translate}}">
            <mat-error *ngIf="frm.get('companyId').hasError('required')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.COMPANY_ID_REQUIRED' | translate}}
            </mat-error>
            <mat-error *ngIf="frm.get('companyId').hasError('maxlength') || frm.get('companyId').hasError('minlength')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.LENGTH' | translate}}
            </mat-error>
            <mat-error *ngIf="frm.get('companyId').hasError('pattern')">
                {{'BUSINESS_PARTNER.FORM_VALIDATOR.NON_DIGIT' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100-p">
            <input name="vatin"
                   matInput
                   formControlName="vatin"
                   placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.VAT_IN' | translate}}">
        </mat-form-field>
    </div>

    <div class="w-full pb-10">
        <date-range-picker #dateRangePicker 
            formControlName="dateRange" 
            [requiredErrorMsg]="'BUSINESS_PARTNER.FORM_VALIDATOR.VALIDFROM_REQUIRED' | translate"
            [invalidRangeMsg]="'FORM_VALIDATOR.DATE_RANGE_INVALID' | translate"
            [startLabel]="'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.START_DATE' | translate"
            [endLabel]="'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.END_DATE' | translate">
        </date-range-picker>
    </div>

    <mat-form-field class="w-full">
        <mat-select placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.PAYMENT_METHOD' | translate}}"
                    formControlName="paymentMethodId">
            <mat-option [value]="null">{{'NONE_OPTION' | translate}}</mat-option>
            <mat-option *ngFor="let item of paymentMethods"
                        [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <div class="section" class="pb-10">
        <div fxLayout="row"
             fxLayoutAlign="start center">
            <div class="h2 secondary-text">{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.HEADQUARTERS_ADDRESS' | translate}}:</div>
            <div fxLayout="row"
                 (click)="editAddress()"
                 [editable]="partnerStatus"
                 class="h2 secondary-text pl-5">
                <span matTooltip="{{partnerStatus === 'EXIST' ? '' : 'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.TOOLTIP.EDIT_ADDRESS' | translate}}">({{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.EDIT_ADDRESS' | translate}})</span>
                <mat-icon matSuffix>edit</mat-icon>
            </div>
        </div>
        <div *ngIf="!partnerID"
             class="tab-content p-10"
             fusePerfectScrollbar>
            <mat-select-search (textSearchServerChange)="onSearchState($event)"
                               [keyField]="'code'"
                               [searchOnServer]="true"
                               [debounceTime]="500"
                               [placeholderSearch]="'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SEARCH_FOR_STATE' | translate"
                               [placeholder]="'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SEARCH_FOR_STATE' | translate"
                               [list]="states"
                               formControlName="state">
            </mat-select-search>

            <div class="w-full">
                <mat-form-field class="w-full">
                    <input matInput
                           required
                           placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SEARCH_FOR_CITY' | translate}}"
                           [matAutocomplete]="cityAutoComplete"
                           formControlName="city">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="frm.get('city').hasError('inValid')">
                        {{'BUSINESS_PARTNER.FORM_VALIDATOR.CITY_INVALID' | translate}}
                    </mat-error>
                    <mat-error *ngIf="frm.get('city').hasError('required')">
                        {{'BUSINESS_PARTNER.FORM_VALIDATOR.CITY_REQUIRE' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-autocomplete #cityAutoComplete="matAutocomplete"
                                  [displayWith]="displayCityFn">
                    <mat-option *ngIf="isLoading"
                                class="is-loading">
                        <span class="spinner">
                            <mat-spinner diameter="20"></mat-spinner>
                        </span>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let item of cities"
                                    [value]="item">
                            <span>{{ item.cityName }} | {{item.zipCode}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </div>
            <mat-form-field class="w-full">
                <input name="zipCode"
                       required
                       matInput
                       formControlName="zipCode"
                       placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.ZIP_CODE' | translate}}">
                <mat-error *ngIf="frm.get('zipCode').hasError('required')">
                    {{'BUSINESS_PARTNER.FORM_VALIDATOR.ZIP_CODE_REQUIRED' | translate}}
                </mat-error>
                <mat-error *ngIf="frm.get('zipCode').hasError('maxlength') || frm.get('zipCode').hasError('minlength') || frm.get('zipCode').hasError('pattern')">
                    {{'BUSINESS_PARTNER.FORM_VALIDATOR.ZIP_CODE_RULE' | translate}}
                </mat-error>
            </mat-form-field>
            <div fxLayout="column"
                 fxLayout.gt-xs="row"
                 fxLayoutGap.gt-xs="10px">

                <div class="w-full">
                    <mat-form-field class="w-full">
                        <input name="street"
                               matInput
                               formControlName="street"
                               [matAutocomplete]="streetAutoComplete"
                               placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.SEARCH_FOR_STREET' | translate}}">
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-error *ngIf="frm.get('street').hasError('required')">
                            {{'BUSINESS_PARTNER.FORM_VALIDATOR.STREET_REQUIRED' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-autocomplete #streetAutoComplete="matAutocomplete"
                                      [displayWith]="displayStreetFn">
                        <mat-option *ngIf="isLoading"
                                    class="is-loading">
                            <span class="spinner">
                                <mat-spinner diameter="20"></mat-spinner>
                            </span>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let item of streets"
                                        [value]="item">
                                <span>{{ item.streetName }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>

                </div>

                <mat-form-field>
                    <input name="streetNumber"
                           matInput
                           required
                           formControlName="streetNumber"
                           placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.STREET_NUMBER' | translate}}">
                    <mat-error *ngIf="frm.get('streetNumber').hasError('required')">
                        {{'BUSINESS_PARTNER.FORM_VALIDATOR.STREET_NUMBER' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="pv-10"
             *ngIf="partnerID">
            <address-format [addressDetail]="address"></address-format>
        </div>

    </div>

    <div class="section">
        <div fxLayout="row"
             fxLayoutAlign="start center">
            <div class="h2 secondary-text">{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.OFFICIAL_INFORMATION' | translate}}:</div>
        </div>
        <div class="tab-content p-10"
             fusePerfectScrollbar>
            <div fxLayout="column">
                <mat-form-field class="w-full">
                    <input name="executive"
                           matInput
                           formControlName="executive"
                           placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.STATUTORY_REPRESENTATIVE' | translate}}">
                </mat-form-field>

                <mat-form-field>
                    <input name="registrationRecord"
                           matInput
                           formControlName="registrationRecord"
                           placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.REGISTRATION_RECORD' | translate}}">
                </mat-form-field>
            </div>
        </div>
    </div>

</form>