:host {
  .date-label {
    padding-right: 10px;
    font-size: 17px
  }

  .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }

  .edit-address {
    cursor: pointer;
    color: rgba(3, 169, 244, 0.6588235294117647) !important;
  }


  .date-input {
    height: unset !important;
  }

  ::ng-deep .mat-input-underline {
    display: none !important;
  }

  // ::ng-deep .mat-form-field-underline {
  //   display: none !important;
  // }

}



.spinner {
  display: flex;
  justify-content: center;
}