<mat-form-field class="w-100-p">
  <mat-select
    placeholder="{{placeholder}} {{isRequired ? '*' : ''}}"
    [disabled]="!filteredList.length || _disabled"
    #singleSelect
    (selectionChange)="selectionChange($event.value)"
    [multiple]="multiple"
    (openedChange)="openedChange($event)"
    [value]="selected">

    <ngx-mat-select-search
      [formControl]="filterCtrl"
      [placeholderLabel]="placeholderSearch"
      [noEntriesFoundLabel]="noEntriesFoundLabel">
    </ngx-mat-select-search>

    <mat-select-trigger *ngIf="multiple">
      {{getFirstValue()}}
      <span *ngIf="selected?.length > 1">
        (+{{selected?.length - 1}} {{selected?.length === 2 ? multiOther: multiOthers}})
      </span>
    </mat-select-trigger>
    <mat-option *ngIf="hasNoneOption" [value]="null">{{'NONE_OPTION' | translate}}</mat-option>
    <mat-option *ngFor="let item of filteredList" [value]="keyField ? item[keyField] : item">
      {{ displayMulti.length? displayWithFn(item) : item[displayField] }}
    </mat-option>
  </mat-select>
  <button mat-icon-button class="clear-btn" *ngIf="multiple ? (selected.length && showClear) : (selected && showClear)"
          style="position: absolute;
    top: -4px;
    right: 20px;
    color: #88898c;" (click)="cleanValue($event)">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
