<div id="error-500" fxLayout="column" fxLayoutAlign="center center">

  <div class="content" fxLayout="column" fxLayoutAlign="center center">

    <div class="error-code">401</div>

    <div class="message">Permission Denied</div>

    <div class="sub-message">
      You don't have permission to access this page
    </div>

  </div>

</div>
