<div>
    <div>
        <h1 mat-dialog-title>{{'DEPARTMENTS.DETAILS.ADDRESSES.TITLE' | translate}}</h1>
    </div>

    <div mat-dialog-content>
        <div>
            <form [formGroup]="frm" fxLayout="row" fxLayoutGap="20px" class="pb-30">
                <mat-checkbox class="example-margin" 
                              formControlName="active">{{'DEPARTMENTS.CHECKBOX.ACTIVE' | translate}}</mat-checkbox>
                <mat-checkbox class="example-margin"
                               formControlName="partnerVisible">{{'DEPARTMENTS.CHECKBOX.PARTNER' | translate}}</mat-checkbox>
                <mat-checkbox class="example-margin"
                               formControlName="publicVisible">{{'DEPARTMENTS.CHECKBOX.PUBLIC' | translate}}</mat-checkbox>
            </form>
            <div class="w-full" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px">
                <button id="btnSave"
                        [disabled]="submitted"
                        class="btn-save"
                        mat-raised-button
                        (click)="onSubmit()">
                    <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                </button>
                <button id="btnDelete"
                        type="button"
                        [disabled]="submitted || !data.departmentAddressId"
                        [ngClass]="{'btn-disabled': !data.departmentAddressId}"
                        class="btn-delete"
                        mat-raised-button
                        (click)="delete()">
                    <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                </button>
                <button id="btnCancel"
                        [disabled]="submitted"
                        type="button"
                        class="mat-white-bg"
                        mat-raised-button
                        (click)="cancel()">
                    <span>{{'BUTTON.CANCEL'| translate}}</span>
                </button>
            </div>
            <mat-error class="pt-10"
                       *ngIf="frmError">
                {{'DEPARTMENTS.FORM_VALIDATOR.BP_CONTACT_PERSON_REQUIRED' | translate}}
            </mat-error>
        </div>
        <div class="pt-30">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h1>{{'DEPARTMENTS.EDIT_BP_ADDRESS_TITLE' | translate}}:</h1>
            <div fxLayout="row" fxLayoutGap="20px" class="pl-25">
                <div>
                    <a class="font-17 pointer"
                    (click)="selectAddress()">{{'BUTTON.SELECT'| translate}}</a>
                </div>
                <div>
                    <a class="font-17 pointer" [ngClass]="{'disabled-link': !bpAddressDetail}"
                    (click)="editAddress()">{{'BUTTON.EDIT'| translate}}</a>
                </div>
                <div>
                    <a class="font-17 pointer"
                    (click)="createAddress()">{{'DEPARTMENTS.BUTTON.ADD_NEW_BP_ADDRESS' | translate}}</a>
                </div>
            </div>
          </div>
          <div class="bp-detail">
                <div class="font-16" fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="min-w-4">
                            <span class="label">{{'DEPARTMENTS.DETAILS.ADDRESSES.ADDRESS_TYPE' | translate}}:</span><span class="pl-5">{{bpAddressDetail?.bpaddressType.name}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-checkbox
                                [checked]="bpAddressDetail?.isActive"
                                [disabled]="true">
                            </mat-checkbox>
                            <span class="pl-5">{{'DEPARTMENTS.DETAILS.ADDRESSES.ACTIVE' | translate}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-checkbox
                                [checked]="bpAddressDetail?.invoiceAddress"
                                [disabled]="true">
                            </mat-checkbox>
                            <span class="pl-5">{{'DEPARTMENTS.DETAILS.ADDRESSES.INVOIDE_ADDRESS' | translate}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-checkbox
                                [checked]="bpAddressDetail?.postalAddress"
                                [disabled]="true">
                            </mat-checkbox>
                            <span class="pl-5">{{'DEPARTMENTS.DETAILS.ADDRESSES.POSTAL_ADDRESS' | translate}}</span>
                        </div>
                    </div>

                    <table class="w-full address-tb">
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.ALTERNATIVE_RECIPIENT_NAME' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.recipient}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.STATE' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.address.stateName}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.CITY' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.address.cityName}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.ZIP_CODE' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.address.zipCode}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.STREET' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.address.street}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.STREET_NUMBER' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.address.streetNumber}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.STREET_SUPLEMENT' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.address.streetNote}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.MAP_LINK' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.mapLink}}</td>
                        </tr>
                        <tr>
                            <td class="max-w-4 min-w-4 label"
                                width="200">{{'DEPARTMENTS.DETAILS.ADDRESSES.NOTE' | translate}}:</td>
                            <td class="font-w-400">{{bpAddressDetail?.note}}</td>
                        </tr>
                    </table>

                    <div>
                        <label class="label">{{'DEPARTMENTS.DETAILS.ADDRESSES.TRANSPORT_INFO' | translate}}:</label>
                        <div *ngIf="bpAddressDetail?.transportInfo">
                            <rich-text-editor
                                [readOnly]="true"
                                [label]="" 
                                [inputText]="bpAddressDetail?.transportInfo">
                            </rich-text-editor>
                        </div>
                    </div>

                </div>
          </div>
        </div>
    </div>
</div>