<div id="products"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="space-evenly start">
            <app-breadscumb></app-breadscumb>
            <div fxLayout="column" class="w-full min-h-13"
                 fxLayoutAlign="center center"
                 fxLayout.gt-xs="row"
                 fxLayoutAlign.gt-xs="flex-start center">
                 <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex.xs="100%"
                     fxFlex.gt-xs="50%">
                    <mat-icon class="logo-icon mr-16"> person </mat-icon>
                    <span class="logo-text h1"> {{'BUSINESS_PARTNER.TITLE' | translate}} </span>
                </div>
                <!-- / APP TITLE -->
                
                <div fxLayout="column"
                     fxLayoutAlign="center center"
                     fxLayout.gt-xs="row"
                     fxLayoutAlign.gt-xs="space-between center"
                     fxFlex.xs="100%"
                     fxFlex.gt-xs="50%">
                     <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                        <input-search placeholder="{{'BUSINESS_PARTNER.FILTER_PARTNER' | translate}}"
                                        [autofocus]="true"
                                        (onSearch)="filterChange($event)">
                        </input-search>
                        <div>
                            <a class="filter" (click)="showFilter()">{{ 'BUSINESS_PARTNER.ADVANCE_SEARCH.MORE_OPTIONS' | translate}}</a>
                            <a *ngIf="isFilterActived" class="text-normal filter-actived"> - {{ 'BUSINESS_PARTNER.ADVANCE_SEARCH.ACTIVE_FILTER' |translate }}!</a>
                        </div>
        
                    </div>
        
                    <div>
                        <button mat-raised-button
                                color="primary"
                                (click)="addNew()"
                                class="my-12 mt-sm-0 ml-10">
                            <span>{{'BUSINESS_PARTNER.BUTTON.NEW_PARTNER' | translate}}</span>
                        </button>
                    </div>
                </div>

        

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg pos-relativ">
            <mat-table #table
                       [ngClass]="{'d-none': !dataSource.totalCount}"
                       [dataSource]="dataSource"
                       fusePerfectScrollbar>

                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.TABLE.COL_NAME' | translate}}</mat-header-cell>
                    <mat-cell  [inactivePartner]="{from: row.validFrom, to: row.validTill}" *cdkCellDef="let row" (click)="goToCompanyDetail(row)">
                        <div fxLayout="row" class="w-full" fxLayoutGap="10px">
                            <p class="text-truncate">{{row.name}}</p>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="departmentName">
                    <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.TABLE.COL_DEPARTMENT_NAME' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" [inactivePartner]="{from: row.validFrom, to: row.validTill}" (click)="goToDepartmentDetail(row)">
                        <div fxLayout="row" class="w-full" fxLayoutGap="10px">
                            <p class="text-truncate pr-5" style="margin-right: 0px !important">{{row.departmentName}}</p>
                            <p *ngIf="row.subDepartmentsCount" class="sub-ordinate">(+{{row.subDepartmentsCount}})</p>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="validFrom">
                    <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.TABLE.COL_VALID_FROM' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" [inactivePartner]="{from: row.validFrom, to: row.validTill}">
                        <p class="text-truncate">{{row.validFrom | localizedDate | async}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="validTill">
                    <mat-header-cell *cdkHeaderCellDef>{{'BUSINESS_PARTNER.TABLE.COL_VALID_TILL' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" [inactivePartner]="{from: row.validFrom, to: row.validTill}">
                        <p class="text-truncate">{{row.validTill | localizedDate | async}}</p>
                    </mat-cell>
                </ng-container>


                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator #tablePaginator
                           [ngClass]="{'d-none': !dataSource.totalCount}" 
                           [length]="dataSource.totalCount"
                           [pageIndex]="0"
                           [pageSize]="20">
            </mat-paginator>

            <loading-view *ngIf="dataSource.loading$ | async"></loading-view>

            <div *ngIf="!dataSource.totalCount && !searchText" class="no-data">{{'BUSINESS_PARTNER.MESSAGE.NO_PARTNER' | translate}}</div>
            <div *ngIf="!dataSource.totalCount && searchText" class="no-data">{{'NO_RESULTS' | translate}}</div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>