:host {
  .filter {
    cursor: pointer;
  }
  
  a { 
    color: white !important;
  }
  
  .filter-actived {
    color: black !important;
  }
  
  .text-truncate {
    margin-right: 0 !important;
  }
  
  .text-normal {
    text-decoration: none !important;
  }
  
  .mat-column-validTill{
    padding-right: 0 !important;
    max-width: 130px;
  }
  
  .mat-column-validFrom {
    max-width: 130px;
  }
  
  
  .mat-column-departmentName {
    padding-right: 5px;
    max-width: 450px;
    & :hover {
      text-decoration: underline !important;
      cursor: pointer !important;
    }
  }

  .mat-column-name {
    padding-right: 5px;
    max-width: 400px;
    & :hover {
      text-decoration: underline !important;
      cursor: pointer !important;
    }
  }
  
  .sub-ordinate {
    color: green;
  }

  .mat-table .mat-row {
    cursor: initial !important;
  }
  
}