<div>
    <mat-table #table
               [dataSource]="dataSource"
               fusePerfectScrollbar>

        <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.BASIC_INFO.BUSINESS_PARTNER_NAME' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" (click)="onRowclick(row)">
                <a class="text-truncate link" target="_blank" routerLink="business-partners/{{row.id}}">{{row.name}}</a>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="validFrom">
            <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.BASIC_INFO.BUSINESS_PARTNER_VALID_FROM' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.validFrom | localizedDate | async}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="validTill">
            <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.BASIC_INFO.BUSINESS_PARTNER_VALID_TILL' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <p class="text-truncate">{{row.validTill | localizedDate | async}}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matRipple
                 *cdkRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
</div>