:host {
    .mat-header-row {
        min-height: 45px;
    }

    .mat-header-cell {
        font-size: 14px
    }

    .link {
      color: green;
      text-decoration: underline;
    }

    .mat-column-name {
        min-width: 200px !important
    }

    .mat-column-validTill {
        padding-right: 0 !important;
        max-width: 150px;
        min-width: 100px;
    }

    .mat-column-validFrom {
        max-width: 150px;
        min-width: 100px;
    }
}