<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
      <img src="assets/images/logos/klient.png">
    </div>

    <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
      {{'WELCOME_MSG' | translate}}
    </div>

    <!--<div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">-->
      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,-->
      <!--vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.-->
    <!--</div>-->

  </div>

  <div id="login-form-wrapper" fusePerfectScrollbar
       [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="login-form">

      <div class="logo" fxHide.gt-xs>
        <span>K</span>
      </div>

      <div class="title">{{'TITLE' | translate}}</div>

      <form name="form" [formGroup]="frm" (ngSubmit)="login()" role="form" novalidate>
        <mat-form-field>
          <input [autofocus]="true" id="usernameInput" matInput placeholder="{{'USER_NAME' | translate}}" formControlName="username">
          <mat-error *ngIf="formErrors.username.required">
            {{validationMessages.username.required}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="passwordInput" matInput type="password" placeholder="{{'PASSWORD' | translate}}" formControlName="password">
          <mat-error *ngIf="formErrors.password.required">
            {{validationMessages.password.required}}
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="end center">
          <!-- <mat-checkbox class="remember-me" aria-label="Remember Me">
            {{'REMEMBER_ME' | translate}}
          </mat-checkbox> -->

          <a class="forgot-password" [routerLink]="'/forgot-password-2'">
            {{'FORGOT_PASS' | translate}}
          </a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                [disabled]="frm.invalid || (login$ | async)?.isLoading">
          {{'BUTTON.LOGIN' | translate}}
        </button>

        <div *ngIf="errorMessage">
          <mat-error>
            {{errorMessage}}
          </mat-error>
        </div>

      </form>

      <!-- <div class="separator">
        <span class="text">OR</span>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center">

        <button mat-raised-button class="google">
          Log in with Google
        </button>

        <button mat-raised-button class="facebook">
          Log in with Facebook
        </button>

      </div>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Don't have an account?</span>
        <a class="link" [routerLink]="'/register-2'">Create an account</a>
      </div> -->
    </div>
  </div>
</div>
