<div id="products" class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center" fxFlex.xs="100%" fxFlex.gt-xs="50%">
                <mat-icon class="logo-icon mr-16">
                    vpn_key
                </mat-icon>
                <span class="logo-text h1">
                    {{ 'CHANGE_PASSWORD_HEADER' | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg pos-relativ">
            <form [formGroup]="passwordFrm" class="w-600" fxLayout="column" fxFlex fusePerfectScrollbar>
                <div class="section p-20">
                    {{changePasswordPrompt}}
                </div>
                <div class="section p-20">
                    <mat-form-field class="w-100-p pb-30">
                        <input type="password" matInput formControlName="oldPassword" placeholder="{{'PLACEHOLDER.OLD_PASSWORD' | translate}}">
                        <mat-error *ngIf="passwordFrm.get('oldPassword').hasError('required')">
                            {{'FORM_VALIDATOR.OLD_PASSWORD_REQUIRE' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <div formGroupName="newPasswordFrm">
                        <mat-form-field class="w-100-p pb-30">
                            <input type="password" matInput formControlName="newPassword" placeholder="{{'PLACEHOLDER.NEW_PASSWORD' | translate}}">
                            <mat-error *ngIf="newPasswordFrm.get('newPassword').hasError('required')">
                                {{'FORM_VALIDATOR.NEW_PASSWORD_REQUIRE' | translate}}
                            </mat-error>
                            <mat-error *ngIf="newPasswordFrm.get('newPassword').hasError('invalidLengthRequire')">
                                {{'FORM_VALIDATOR.INVALID_LENGTH' | translate}}
                            </mat-error>
                            <mat-error *ngIf="newPasswordFrm.get('newPassword').hasError('invalidUpperCaseAndLowerCaseRule')">
                                {{'FORM_VALIDATOR.UPPERCASE_LOWERCASE_REQUIRE' |translate}}
                            </mat-error>
                            <mat-error *ngIf="newPasswordFrm.get('newPassword').hasError('invalidspecialCharacterRequire')">
                                {{'FORM_VALIDATOR.SPECIAL_CHARACTER_REQUIRE' | translate}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input type="password" matInput formControlName="newPasswordConfirm" placeholder="{{'PLACEHOLDER.NEW_PASSWORD_CONFIRM' | translate}}">
                            <mat-error *ngIf="newPasswordFrm.get('newPasswordConfirm').hasError('required')">
                                {{'FORM_VALIDATOR.NEW_PASSWORD_CONFIRM_REQUIRE'| translate}}
                            </mat-error>
                        </mat-form-field>
                        <mat-error class="errorMsg" *ngIf="passwordFrm.get('newPasswordFrm').hasError('nomatch')">
                            {{'FORM_VALIDATOR.CONFIRM_NOT_MATCH'| translate}}
                        </mat-error>
                    </div>
                    
                </div>
                <div  class="section p-20" fxLayout="row" fxLayoutAlign="start center">
                    <button [disabled]="submited" mat-raised-button (click)="submit()" color="primary" class="my-12 mt-sm-0">
                        <span>{{'BUTTON.CHANGE' | translate}}</span>
                    </button>
                </div>
            </form>

            <!-- <div>

            </div> -->
            

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
