$input-search-width: 200px;

// Page Layouts
$carded-header-height: 164px !default;
$carded-header-height-sm: 160px !default;
$carded-toolbar-height: 64px !default;

$header-height: 120px !default;
$header-height-sm: 100px !default;

// Calculate toolbarless header height
$carded-header-height-without-toolbar: $carded-header-height - $carded-toolbar-height;
$carded-header-height-without-toolbar-sm: $carded-header-height-sm - $carded-toolbar-height;

toolbar {
  .mat-form-field-prefix {
    top: 4px;
    margin-right: 5px;
  }
}

.datatable-body-row.active .datatable-row-group {
  background-color: #cccdce !important;
}

mat-form-field {
  &.hasPrefix {
    .mat-form-field-prefix {
      top: 7px
    }
  }
}

.mat-table {
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  overflow: auto;

  .mat-header-row {
    min-height: 64px;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
  }

  .mat-row {
    position: relative;
    cursor: pointer;
    height: 40px;
  }

  .mat-cell {
    min-width: 0;
    display: flex;
    align-items: center;
  }
}

.d-none {
  display: none !important;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
} 

.cdk-global-scrollblock {
  overflow-y: hidden;
}

// Page layout
// Page layout
.page-layout {
  &.carded {
    > .top-bg {
      @include media-breakpoint-down(xs) {
        height: 240px;
      }
    }

    &.fullwidth > .center {
      // Fix scroll on IE
      overflow: auto;

      > .header {

        height: 100px !important;
        min-height: 100px !important;
        max-height: 100px !important;

        @include media-breakpoint-down('xs') {
          height: 190px !important;
          min-height: 190px !important;
          max-height: 190px !important;
        }

        input-search {
          @include media-breakpoint-up(sm) {
            margin-left: -$input-search-width/2;
          }
        }

      }
    }

  }

  .search-input-wrapper {
    .mat-form-field-infix {
      width: $input-search-width;
    }
  }
}

// fix scroll bar for MS Edge
.mat-list, .mat-nav-list, .mat-selection-list, .section-list {
  -ms-overflow-style: auto !important;
}

// hide input clear on IE, Edge
input::-ms-clear {
  display: none;
}

.mat-input-element {
  height: 22px;
}

.no-data {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #bfbfbf;
  width: inherit;
  justify-content: center;
  height: inherit;
  align-items: center;
  flex-grow: 1
}

.mat-header-cell {
  font-size: 17px
}

.mat-form-field-label {
  padding-top: 5px;
}

.mat-tab-label {
  min-width: unset !important;
}

.bd-top {
  border-top: solid #bfbfbf;
}

.mat-form-field-label {
  color: rgba(74, 74, 74, 1) !important;
}

.mat-option {
  max-height: 30px !important;
}

.pointer {
  cursor: pointer;
}

.btn-new {
  background: rgba(91, 192, 222, 1);
  color: white;
}

.btn-save {
  background: rgba(92, 184, 92, 1);
  color: white;
}

.btn-delete {
  background: rgba(217, 83, 79, 1);
  color: white;
}

.btn-as-link {
  background: #3c4252 !important;
  color: white !important;
}