mat-form-field {
  &.full {
    width: 100%
  }
}

/**
  PADDING
 */

@for $index from 0 through 100 {
  .p-#{$index} {
    padding: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .pl-#{$index} {
    padding-left: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .pr-#{$index} {
    padding-right: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .pt-#{$index} {
    padding-top: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .pb-#{$index} {
    padding-bottom: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .pv-#{$index} {
    padding-top: #{$index}px;
    padding-bottom: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .ph-#{$index} {
    padding-left: #{$index}px;
    padding-right: #{$index}px;
  }
}

/**
  MARGIN
 */

@for $index from 0 through 100 {
  .m-#{$index} {
    margin: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .ml-#{$index} {
    margin-left: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .mr-#{$index} {
    margin-right: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .mt-#{$index} {
    margin-top: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .mb-#{$index} {
    margin-bottom: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .mv-#{$index} {
    margin-top: #{$index}px;
    margin-bottom: #{$index}px;
  }
}

@for $index from 0 through 100 {
  .mh-#{$index} {
    margin-left: #{$index}px;
    margin-right: #{$index}px;
  }
}

/**
  Max width
*/
@for $index from 0 through 20 {
  .max-w-#{$index} {
    max-width: #{$index * 50}px !important;
  }
}

/**
  Min width
*/
@for $index from 0 through 20 {
  .min-w-#{$index} {
    min-width: #{$index * 50}px !important;
  }
}


@for $index from 0 through 50 {
  .min-h-#{$index} {
    min-height: #{$index * 5}px !important;
  }
}

@for $index from 0 through 50 {
  .max-h-#{$index} {
    max-height: #{$index * 5}px !important;
  }
}

/**
Set height by percent
*/
@for $index from 0 through 20 {
  .h-#{$index}-percent {
    height: #{$index * 5}% !important;
  }
}

/**
Set font size
*/
@for $index from 0 through 50 {
  .font-#{$index} {
    font-size: #{$index}px !important;
  }
}

/**
Set font weight with value
*/
@for $index from 0 through 900 {
  .font-w-#{$index} {
    font-weight: #{$index} !important;
  }
}
