<div class="dialog_header">
    <h1 mat-dialog-title>{{'DEPARTMENTS.CHANGE_BUSINESS_PARTNER_TITLE' | translate}}</h1>
</div>

<div mat-dialog-content>
    <div fxLayout="column">
        <mat-radio-group fxLayout="column"
                         [(ngModel)]="option"
                         (change)="changeOption($event)">
            <mat-radio-button value="1" checked="true" class="max-h-10">
                {{'DEPARTMENTS.CHANGE_BUSINESS_PARTNER_OPTION_1' | translate}}:
                <mat-form-field class="max-w-3">
                    <input (dateChange)="onDateChange($event.value)"
                           matInput
                           [matDatepicker]="picker"
                           placeholder="{{'DEPARTMENTS.CHOOSE_A_DATE' | translate}}">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-radio-button>
            <mat-error *ngIf="showError" class="pb-10">
                {{'DEPARTMENTS.FORM_VALIDATOR.DATE_CHANGE_REQUIRED' | translate}}
            </mat-error>
            <mat-radio-button value="2">{{'DEPARTMENTS.CHANGE_BUSINESS_PARTNER_OPTION_2' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>
    <form [formGroup]="frm"
          class="w-full">
        <!-- <mat-form-field class="w-full">
            <input matInput
                   placeholder="{{'DEPARTMENTS.SEARCH_BUSINESS_PARTNER' | translate}}"
                   [matAutocomplete]="autoComplete"
                   formControlName="businessPartner">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="frm.get('businessPartner').hasError('required') && frm.dirty">
            {{'DEPARTMENTS.FORM_VALIDATOR.BP_REQUIRED' | translate}}
        </mat-error>
        <mat-autocomplete #autoComplete="matAutocomplete"
                          [displayWith]="displayFn">
            <mat-option *ngIf="isLoading"
                        class="is-loading">
                <span class="spinner">
                    <mat-spinner diameter="20"></mat-spinner>
                </span>
            </mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let item of partners"
                            [value]="item">
                    <span>{{ item.name }} | {{item.companyId}} | {{item.address}}</span>
                </mat-option>
            </ng-container>
        </mat-autocomplete> -->
        <div class="w-full">
            <mat-select-search
                (textSearchServerChange)="onSearchPartner($event)"
                [keyField]="'id'"
                [displayMulti]="displayFields"
                [searchOnServer]="true"
                [debounceTime]="500"
                [placeholderSearch]="'DEPARTMENTS.SEARCH_BUSINESS_PARTNER' | translate"
                [placeholder]="'DEPARTMENTS.SEARCH_BUSINESS_PARTNER' | translate" [list]="partners"
                formControlName="businessPartner">
            </mat-select-search>
            <mat-error *ngIf="frm.get('businessPartner').hasError('required') && frm.dirty">
                {{'DEPARTMENTS.FORM_VALIDATOR.BP_REQUIRED' | translate}}
            </mat-error>
        </div>

    </form>
</div>

<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="space-between start">
    <button color="primary"
            id="btnNo"
            mat-button
            (click)="close(false)">{{'BUTTON.CANCEL' | translate}}
    </button>
    <button mat-button
            id="btnYes"
            color="accent"
            (click)="close(true)"
            cdkFocusInitial>{{'BUTTON.APPLY' | translate}}
    </button>
</div>