<div id="product" class="page-layout carded fullwidth inner-scroll h-full">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="space-evenly start">
          <!-- APP TITLE -->
          <app-breadscumb #breadscrumb></app-breadscumb>
          <div fxLayout="column" class="w-full min-h-13"
               fxLayoutAlign="center center"
               fxLayout.gt-xs="row"
               fxLayoutAlign.gt-xs="flex-start center">
               <!-- APP TITLE -->
              <div class="logo my-12 m-sm-0"
                   fxLayout="row"
                   fxLayoutAlign="start center"
                   fxFlex.xs="100%">
                  <span class="logo-text h1"> {{'DEPARTMENTS.DEPARTMENT_DETAIL_TITLE' | translate}}: {{departmentName ? departmentName : 'NO_NAME' | translate}} </span>
              </div>
              <!-- / APP TITLE -->

              <div fxLayout="column" *ngIf="selectedTab !== 0"
                   fxLayoutAlign="center center"
                   fxLayout.gt-xs="row"
                   fxLayoutAlign.gt-xs="space-between center"
                   fxFlex.xs="100%">
                  <div [style.visibility]="[2, 5].includes(selectedTab) ?'visible':'hidden'">
                      <input-search placeholder="{{selectedTab === 2 ? ('DEPARTMENTS.FILTER_CONTACT_PERSONS' | translate) : 
                                                   selectedTab === 5 ? ('DEPARTMENTS.FILTER_SUB_ORDINATE' | translate) : ''}}"
                                [autofocus]="true"
                                (onSearch)="filterChange($event)" class="ml-0"></input-search>
                  </div>
                  <div>
                      <button mat-raised-button
                              color="primary"
                              (click)="addNew()"
                              class="my-12 mt-sm-0 ml-10">
                          <span>{{selectedTab === 1 ? ('DEPARTMENTS.BUTTON.ADD_NEW_ADDRESS' | translate) : 
                                  selectedTab === 2 ? ('DEPARTMENTS.BUTTON.ADD_NEW_CONTACT_PERSON' | translate) :
                                  selectedTab === 4 ? ('DEPARTMENTS.BUTTON.ADD_NEW_PARTICIPATION' | translate) :
                                  ''}}
                          </span>
                      </button>
                      <a *ngIf="selectedTab === 5" target="_blank" class="btn-as-link" mat-raised-button routerLink="/business-partners/{{businessPartnerId}}/department/parent/{{departmentId}}/create">{{'DEPARTMENTS.BUTTON.ADD_NEW_SUB_ORDINATE' | translate}}</a>
                  </div>
              </div>
          </div>
          <!-- / APP TITLE -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">

          <!-- CONTENT -->
          <div class="content" fxLayout="column" fxLayoutAlign="space-between start">
              <div class="w-full department-detail h-18-percent">
                  <mat-tab-group #tabs class="w-full" (selectedTabChange)="tabChanged($event.index)" [selectedIndex]="selectedTab">
                      <mat-tab label="{{'DEPARTMENTS.DETAILS.BASIC_INFO.LABEL' | translate}}">
                        <department-basic-info #basicInfo [departmentId]="departmentId" [businessPartnerId]="businessPartnerId"></department-basic-info>
                      </mat-tab>

                      <mat-tab [disabled]="!departmentId" label="{{'DEPARTMENTS.DETAILS.ADDRESSES.LABEL' | translate}}">
                         <department-addresses #departmentAddresses [departmentId]="departmentId" [businessPartnerId]="businessPartnerId"></department-addresses>
                      </mat-tab>

                      <mat-tab [disabled]="!departmentId" label="{{'DEPARTMENTS.DETAILS.CONTACT_PERSONS.LABEL' | translate}}">
                        <department-contact-person #departmentContact [departmentId]="departmentId" [partnerId]="businessPartnerId"></department-contact-person>
                      </mat-tab>

                      <mat-tab [disabled]="!departmentId" label="{{'DEPARTMENTS.DETAILS.TAGS.LABEL' | translate}}">
                          <department-tags [departmentId]="departmentId"></department-tags>
                      </mat-tab>

                      <mat-tab [disabled]="!departmentId" label="{{'DEPARTMENTS.DETAILS.PARTICIPATION.LABEL' | translate}}">
                          <department-mc-system #departmentMcSystem [departmentId]="departmentId"></department-mc-system>
                      </mat-tab>

                      <mat-tab [disabled]="!departmentId" label="{{'DEPARTMENTS.DETAILS.SUBORDINATE_DEPARTMENTS.LABEL' | translate}}">
                          <list-subordinate-department #subordinateDepartment [departmentId]="departmentId" [partnerId]="businessPartnerId" #subordinateDepartments></list-subordinate-department>
                      </mat-tab>

                      <!-- <mat-tab [disabled]="!departmentId" label="{{'DEPARTMENTS.DETAILS.BUSINESS_HOURS.LABEL' | translate}}">
                      </mat-tab> -->
                  </mat-tab-group>
              </div>

              <div *ngIf="selectedTab === 0" class="w-full h-2-percent bd-top">
                  <div class="pb-10 pl-10 pt-10 max-w-14" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
                      <button id="btnSave" [disabled]="submitted" color="primary" mat-raised-button  (click)="onSubmit()">
                          <mat-icon>save</mat-icon>
                          <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                      </button>
                      <button id="btnDelete" [disabled]="submitted || !departmentId" type="button" color="warn" mat-raised-button  (click)="delete()">
                          <mat-icon>delete</mat-icon>  
                          <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                      </button>
                      <button id="btnCancel" [disabled]="submitted" type="button" class="mat-white-bg" mat-raised-button  (click)="close()">
                          <!-- <span>{{'BUTTON.CANCEL'| translate}}</span> -->
                        <span *ngIf="(isFormChange$ | async)">{{'BUTTON.CANCEL'| translate}}</span>
                        <span *ngIf="!(isFormChange$ | async)">{{'BUTTON.CLOSE'| translate}}</span>
                      </button>
                  </div>
              </div>
                  
          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>