<div class="w-full"
     fxLayout="column">
    <div fxLayout="column" fxLayout.gt-xs="row"
         fxLayoutGap="10px"
         fxLayoutAlign="start center">
        <mat-form-field class="w-full max-w-6">
            <mat-select [(value)]="currentFilter.departmentTypeId" placeholder="{{'BUSINESS_PARTNER.ADVANCE_SEARCH.DEPARTMENT_TYPE' | translate}}" (selectionChange)="changeFilter()">
                <mat-option [value]="0">{{'BUSINESS_PARTNER.ADVANCE_SEARCH.ALL_OPTION' | translate}}</mat-option>
                <mat-option *ngFor="let item of departmentTypes"
                            [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full  max-w-6">
            <mat-select [(value)]="currentFilter.msSystemId" placeholder="{{'BUSINESS_PARTNER.ADVANCE_SEARCH.MANAGED_CARE_SYSTEM' | translate}}" (selectionChange)="msSystemChange($event.value)">
                <mat-option [value]="0">{{'BUSINESS_PARTNER.ADVANCE_SEARCH.ALL_OPTION' | translate}}</mat-option>
                <mat-option *ngFor="let item of mcSystems"
                            [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox (change)="onDisplayActiveChange($event)"
                      [(ngModel)]="displayActive">{{'BUSINESS_PARTNER.ADVANCE_SEARCH.DISPLAY_ACTIVE' | translate}}</mat-checkbox>
    </div>
    <!-- Tags -->
    <div class="pt-20">
        <label style="font-size: 17px">{{'BUSINESS_PARTNER.ADVANCE_SEARCH.DEPARTMENT_TAGS' |translate}}:</label>
        <div class="section-list">
            <tree-view #listTags
                [showCheckbox]="true"
                [treeData]="availableTree"
                (onSelectNode)="onSelectNode($event)">
            </tree-view>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="pt-15">
        <div class="pr-10">
            <button mat-raised-button
                    color="primary"
                    (click)="resetFilter()">
                <span>{{'BUSINESS_PARTNER.ADVANCE_SEARCH.RESET_FILTER' | translate}}</span>
            </button>
        </div>
        <div>
            <button mat-raised-button id="btnCancel"
                mat-button
                (click)="close()">{{'BUTTON.CLOSE' | translate}}
            </button>
        </div>
    </div>
</div>