<div fxLayout="column" fxLayout.gt-xs="row" class="p-20 w-900">
    <div class="w-full">
        <span class="list-title">{{selectedListTitle}}</span>
        <mat-selection-list class="section-list" [(ngModel)]="_selectedListValue" >
            <mat-list-option *ngFor="let item of selectedList" [value]="item">
              {{item.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="w-full p-24" style="max-width: 200px !important; min-width: 140px;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button id="btnToAvailable" type="button" color="primary" mat-raised-button  (click)="moToAvailable()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button id="btnToSelected" type="button" color="primary" mat-raised-button  (click)="moToSelected()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button id="btnRevertChanges" type="button" color="primary" mat-raised-button  (click)="revertChanges()">
           {{'BUTTON_REVERT' | translate}}
        </button>
    </div>
    <div class="w-full">
        <span class="list-title">{{availableListTitle}}</span>
        <mat-selection-list class="section-list" [(ngModel)]="_availableListValue">
            <mat-list-option *ngFor="let item of availableList" [value]="item">
              {{item.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>