<div id="product"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column"
             fxLayoutAlign="space-evenly start">
            <!-- APP TITLE -->
            <app-breadscumb></app-breadscumb>
            <div fxLayout="column"
                 class="w-full min-h-13"
                 fxLayoutAlign="center center"
                 fxLayout.gt-xs="row"
                 fxLayoutAlign.gt-xs="flex-start center">
                <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex.xs="100%">
                    <span class="logo-text h1"> {{'MC_SYSTEM.SYSTEM_DETAIL_TITLE' | translate}}: {{systemName ? systemName : 'NO_NAME' | translate}} </span>
                </div>
                <!-- / APP TITLE -->

            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <form [formGroup]="frm"
              class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content"
                 fxLayout="column"
                 fxLayoutAlign="space-between start">
                <div class="max-w-14 patner-detail h-18-percent p-24">
                    <mat-form-field class="w-100-p">
                        <input name="name"
                               required
                               matInput
                               formControlName="name"
                               placeholder="{{'MC_SYSTEM.DETAIL.DEPARTMENT_NAME' | translate}}">
                        <mat-error *ngIf="frm.get('name').hasError('required')">
                            {{'MC_SYSTEM.FORM_VALIDATOR.SYSTEM_NAME_REQUIRED' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100-p">
                        <input name="shortcut"
                               required
                               matInput
                               formControlName="shortcut"
                               placeholder="{{'MC_SYSTEM.DETAIL.SHORTCUT' | translate}}">
                        <mat-error *ngIf="frm.get('shortcut').hasError('required')">
                            {{'MC_SYSTEM.FORM_VALIDATOR.SYSTEM_SHORTCUT_REQUIRED' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-select placeholder="{{'MC_SYSTEM.DETAIL.SYSTEM_TYPE' | translate}}"
                                    formControlName="mcSystemTypeId">
                            <mat-option *ngFor="let item of mcSystemTypes"
                                        [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="frm.get('mcSystemTypeId').hasError('required')">
                            {{'MC_SYSTEM.FORM_VALIDATOR.TYPE_REQUIRED' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-select placeholder="{{'MC_SYSTEM.DETAIL.AREA' | translate}}"
                                    formControlName="areaId">
                            <mat-option [value]="null">{{'NONE_OPTION' | translate}}</mat-option>        
                            <mat-option *ngFor="let item of areas"
                                        [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100-p">
                        <input name="accountCode"
                              #accountCode
                               matInput
                               maxlength="10" 
                               formControlName="accountCode"
                               placeholder="{{'MC_SYSTEM.DETAIL.ACCOUNT_CODE' | translate}}">
                        <mat-hint align="end">{{accountCode.value.length}} / 10</mat-hint>
                    </mat-form-field>

                    <mat-select-search
                        [keyField]="'id'"
                        [showClear]="true"
                        [placeholderSearch]="'MC_SYSTEM.DETAIL.SEARCH_SYSTEM' | translate"
                        [placeholder]="'MC_SYSTEM.DETAIL.PARENT_MC_SYSTEMS' | translate" [list]="parentMcSystems"
                        formControlName="parentMcSystemId">
                    </mat-select-search>

                    <date-range-picker #dateRangePicker
                        [requiredErrorMsg]="'MC_SYSTEM.FORM_VALIDATOR.VALID_FROM_REQUIRED' | translate"
                        [invalidRangeMsg]="'FORM_VALIDATOR.DATE_RANGE_INVALID' | translate"
                        [startLabel]="'MC_SYSTEM.DETAIL.VALID_FROM' | translate"
                        [endLabel]="'MC_SYSTEM.DETAIL.VALID_TILL' | translate"
                        formControlName="dateRange">
                    </date-range-picker>

                    <mat-form-field class="w-100-p">
                        <textarea name="note"
                                  matInput
                                  matTextareaAutosize
                                  matAutosizeMinRows=3
                                  formControlName="note"
                                  placeholder="{{'MC_SYSTEM.DETAIL.NOTE' | translate}}">
                      </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full h-2-percent bd-top">
                <div class="pb-10 pl-10 pt-10 max-w-14"
                     fxLayout="column"
                     fxLayout.gt-xs="row"
                     fxLayoutGap="10px"
                     fxLayoutAlign="space-evenly center">
                    <button id="btnSave"
                            [disabled]="submitted"
                            color="primary"
                            mat-raised-button
                            (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                    </button>
                    <button id="btnDelete"
                            [disabled]="submitted || !systemId"
                            type="button"
                            color="warn"
                            mat-raised-button
                            (click)="delete()">
                        <mat-icon>delete</mat-icon>
                        <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                    </button>
                    <button id="btnCancel"
                            [disabled]="submitted"
                            type="button"
                            class="mat-white-bg"
                            mat-raised-button
                            (click)="cancel()">
                        <span>{{'BUTTON.CANCEL'| translate}}</span>
                    </button>
                </div>
            </div>
            <!-- / CONTENT -->

        </form>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>