<div fxLayout="column" fxLayout.gt-xs="row" class="p-20 w-900">
  <div class="w-full" style="margin-left: 5px">
      <span class="list-title">{{selectedListTitle}}</span>
      <div class="section-list">
        <tree-view #selected
        [showCheckbox]="true"
        [treeData]="selectedTreeData"
        (onSelectNode)="onSelectNode($event, true)">
        </tree-view>
      </div>
   
  </div>
  <div class="w-full p-24" style="max-width: 200px !important; min-width: 140px;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button id="btnToAvailable" type="button" color="primary" mat-raised-button  (click)="moToAvailable()">
          <mat-icon>arrow_forward</mat-icon>
      </button>
      <button id="btnToSelected" type="button" color="primary" mat-raised-button  (click)="moToSelected()">
          <mat-icon>arrow_back</mat-icon>
      </button>
      <!-- <button id="btnRevertChanges" type="button" color="primary" mat-raised-button  (click)="revertChanges()">
         {{'BUTTON_REVERT' | translate}}
      </button> -->
  </div>
  <div class="w-full">
    <span class="list-title">{{availableListTitle}}</span>
    <div class="section-list">
        <tree-view #available
            [showCheckbox]="true"
            [treeData]="availableTreeData"
            (onSelectNode)="onSelectNode($event, false)">
        </tree-view>
    </div>
     
  </div>
</div>