.section-list {
  border: solid 1px;
  overflow: auto;
  height: 300px;
  width: 300px;
}

.list-title {
  font-size: 17px;
}

.mat-list-item {
  height: auto !important;
  min-height: 48px !important;
}

.w-900 {
  max-width: 900px !important;
}

