<div class="black-fg"
     fxLayout="row"
     fxLayoutAlign="start center">
     <mat-icon class="breadscrumb-text s-16" (click)="goHome()">home</mat-icon>

    <div fxLayoutAlign="center center"
         fxLayout="row"
         *ngFor="let path of paths; let i = index">
        <mat-icon class="breadscrumb-text s-16">chevron_right</mat-icon>
        <a (click)="onClick(path.route, i)"
           class="breadscrumb-text s-15">{{path.name}}</a>
    </div>
</div>