:host{
  a {
    cursor: pointer;
    text-decoration: none !important;
  }
  
  .path {
    display: flex;
  }
  
  .breadscrumb-text {
    color: #d2effd !important;
  }
  
  .s-15 {
    font-size: 15px !important
  }
  
  mat-icon.s-16 {
    font-size: 16px!important;
    width: 16px!important;
    height: 16px!important;
    min-width: 16px!important;
    min-height: 16px!important;
    line-height: 16px!important;
    cursor: pointer !important;
  }
}