:host {
  // .w-full{
  //     width: 100%
  // }
  // table, td, th {
  //     border: 2px solid white;
  // }
  // table {
  //   width: 100%;
  //   // tr:nth-child(even) {background: #ccc}
  //   border-collapse: collapse;
  //   tr {
  //     th {
  //       &.header {
  //         padding-left: 18px;
  //         background: #03a9f4;
  //         height: 45px;
  //         font-size: 17px;
  //         font-weight: 400;
  //         color: white;
  //       }
  //     }
  //     td {
  //       vertical-align: top;
  //       // padding: 40px 18px;

  //     }
  //   }
  // }

  .text-rigth {
    text-align: right;
  }

  table {
    width: 100%;
    border: 1px solid #ded3d3;
    // tr:nth-child(even) {background: #fff}
    tr {
      th {
        border: 1px solid #ded3d3;
        color: #000000;
        font-size: 10px;
        padding: 5px 18px;
        visibility: visible;
        text-align: right;
        font-weight: 500;
      }

      td {
        border: 1px solid #ded3d3;
        padding: 5px 18px;
        word-break: break-word;
        &.field-name {
          width: 40%;
        }
        &.from-value {
          width: 60%;
          text-align: right;
        }
        
      }
    }
  }
}
