<table>
    <tbody>
        <tr>
          <td class="text-left field-name">{{'USER_INFO_TAB.USER_NAME' | translate}}</td>
          <td class="text-left from-value">{{userDetail.userName}}</td>
        </tr>
        <tr>
          <td class="text-left field-name">{{'USER_INFO_TAB.FULL_NAME' | translate}}</td>
          <td class="text-left from-value">{{userDetail.fullName}}</td>
        </tr>
        <tr>
          <td class="text-left field-name">{{'USER_INFO_TAB.EMAIL' | translate}}</td>
          <td class="text-left from-value">{{userDetail.email}}</td>
        </tr>
        <tr>
          <td class="text-left field-name">{{'USER_INFO_TAB.PERSPECTIVE' | translate}}</td>
          <td class="text-left from-value">{{userDetail.perspective}}</td>
        </tr>
        <tr>
          <td class="text-left field-name">{{'USER_INFO_TAB.UPDATED_TIME' | translate}}</td>
          <td class="text-left from-value">{{userDetail.updatedTime | localizedDateTime | async}}</td>
        </tr>
        <tr>
          <td class="text-left field-name">{{'USER_INFO_TAB.AUTHORITIES' | translate}}</td>
          <td class="text-rigth" fxLayout="column">
              <span *ngFor="let item of userDetail.authorities">{{item}}</span>
          </td>
        </tr>
    </tbody>
</table>