<div fxLayout="column" class="address">
    <span class="pl-10">{{addressDetail?.street}} {{addressDetail?.streetNumber}}</span>
    <span class="pl-10">{{addressDetail?.streetNote}}</span>
    <span class="pl-10">{{addressDetail?.zipCode}} {{addressDetail?.cityName}}</span>
    <span class="pl-10">{{addressDetail?.stateName}}</span>
 </div>