<div>
    <div>
        <h1 mat-dialog-title>{{'DEPARTMENTS.EDIT_BP_CONTACT_DETAIL_TITLE' | translate}}</h1>
    </div>
  
    <div mat-dialog-content>
       <bp-contact-person-detail-form #contactPerson
          [data]="data"
          (onCancelChange)="onCancelChange()"
          (onActionSuccess)="onActionSuccess($event)"
          [showToast]="false"
        ></bp-contact-person-detail-form>
    </div>
  </div>