<form *ngIf="frm" [formGroup]="frm">
    <div>
        <div fxLayout="row">
            <mat-form-field class="w-full pr-20 max-w-6">
                <mat-select [disabled]="selectedAddressType && selectedAddressType === 1"
                            [required]="true"
                            placeholder="{{'BP_DETAIL.ADDRESS_TYPE' | translate}}"
                            formControlName="bpaddressType">
                    <mat-option *ngFor="let item of addressTypes"
                                [disabled]="item.id === 1"
                                [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="frm.get('bpaddressType').hasError('required')">
                    {{'BP_DETAIL.FORM_VALIDATOR.BP_ADDRESS_TYPE' | translate}}
                </mat-error>
            </mat-form-field>

            <div fxLayout="row"
                 class="pt-15 pb-15 w-full"
                 fxLayoutAlign="space-between center">
                <mat-checkbox class="pr-10"
                              formControlName="active">{{'BP_DETAIL.IS_ACTIVE' | translate}}</mat-checkbox>
                <mat-checkbox class="pr-10"
                              formControlName="invoiceAddress">{{'BP_DETAIL.INVOICE_ADDRESS' | translate}}</mat-checkbox>
                <mat-checkbox class="pr-10"
                              formControlName="postalAddress">{{'BP_DETAIL.POSTAL_ADDRESS' | translate}}</mat-checkbox>
            </div>
        </div>

        <mat-form-field class="w-100-p">
            <input name="recipient"
                   matInput
                   formControlName="recipient"
                   placeholder="{{'BP_DETAIL.RECIPIENT' | translate}}">
        </mat-form-field>

        <div fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutGap.gt-xs="10px">
            <div class="w-full">
                <mat-select-search
                    (textSearchServerChange)="onSearchState($event)"
                    [keyField]="'code'"
                    [searchOnServer]="true"
                    [debounceTime]="500"
                    [placeholderSearch]="'BP_DETAIL.SEARCH_FOR_STATE' | translate"
                    [placeholder]="'BP_DETAIL.SEARCH_FOR_STATE' | translate" [list]="states"
                    formControlName="state">
                </mat-select-search>
                <mat-error *ngIf="frm.get('state').hasError('required')">
                    {{'BP_DETAIL.FORM_VALIDATOR.STATE_REQUIRED' | translate}}
                </mat-error>
            </div>

            <div class="w-full">
                <mat-form-field class="w-full">
                    <input matInput
                           placeholder="{{'BP_DETAIL.SEARCH_FOR_CITY' | translate}}"
                           [matAutocomplete]="cityAutoComplete"
                           formControlName="city">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="frm.get('city').hasError('required')">
                        {{'BP_DETAIL.FORM_VALIDATOR.CITY_REQUIRE' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-autocomplete #cityAutoComplete="matAutocomplete"
                                  [displayWith]="displayCityFn">
                    <mat-option *ngIf="isLoading"
                                class="is-loading option-max-h">
                        <span class="spinner">
                            <mat-spinner diameter="20"></mat-spinner>
                        </span>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let item of cities" class="option-max-h"
                                    [value]="item">
                            <span>{{ item.cityName }} | {{item.zipCode}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </div>

            <mat-form-field class="max-w-2">
                <input name="zipCode"
                       matInput
                       required    
                       formControlName="zipCode"
                       placeholder="{{'BP_DETAIL.ZIP_CODE' | translate}}">
                <mat-error *ngIf="frm.get('zipCode').hasError('required')">
                    {{'BP_DETAIL.FORM_VALIDATOR.ZIP_CODE_REQUIRED' | translate}}
                </mat-error>
                <mat-error *ngIf="frm.get('zipCode').hasError('maxlength') || frm.get('zipCode').hasError('minlength') || frm.get('zipCode').hasError('pattern')">
                    {{'BP_DETAIL.FORM_VALIDATOR.ZIP_CODE_RULE' | translate}}
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutGap.gt-xs="10px">

            <div class="w-full">
                <mat-form-field class="w-full">
                    <input name="street"
                           matInput
                           formControlName="street"
                           [matAutocomplete]="streetAutoComplete"
                           placeholder="{{'BP_DETAIL.SEARCH_FOR_STREET' | translate}}">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="frm.get('street').hasError('required')">
                        {{'BP_DETAIL.FORM_VALIDATOR.STREET_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-autocomplete #streetAutoComplete="matAutocomplete"
                                  [displayWith]="displayStreetFn">
                    <mat-option *ngIf="isLoading"
                                class="is-loading option-max-h">
                        <span class="spinner">
                            <mat-spinner diameter="20"></mat-spinner>
                        </span>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let item of streets"
                                    [value]="item">
                            <span>{{ item.streetName }}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>

            </div>

            <mat-form-field>
                <input name="streetNumber"
                       matInput
                       required
                       formControlName="streetNumber"
                       placeholder="{{'BP_DETAIL.STREET_NUMBER' | translate}}">
                <mat-error *ngIf="frm.get('streetNumber').hasError('required')">
                    {{'BP_DETAIL.FORM_VALIDATOR.STREET_NUMBER' | translate}}
                </mat-error>
            </mat-form-field>
        </div>

        <mat-form-field class="w-100-p">
            <input name="streetNote"
                   matInput
                   formControlName="streetNote"
                   placeholder="{{'BP_DETAIL.STREET_SUPLEMENT' | translate}}">
        </mat-form-field>

        <mat-form-field class="w-100-p">
            <input name="mapLink"
                   matInput
                   formControlName="mapLink"
                   placeholder="{{'BP_DETAIL.MAPLINK' | translate}}">
        </mat-form-field>

        <mat-form-field class="w-100-p">
            <mat-label>{{'BP_DETAIL.NOTE' | translate}}</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      formControlName="note"
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <div>
            <rich-text-editor 
                [readOnly]="isDisableForm"
                [label]="'BP_DETAIL.TRANSPORT_INFO' | translate" 
                formControlName="transportInfo">
            </rich-text-editor>
        </div>
    </div>

    <div class=" pt-20"
         *ngIf="enableActions"  
         fxLayout="column"
         fxLayout.gt-xs="row"
         fxLayoutGap="10px"
         fxLayoutAlign="space-evenly center">
        <button id="btnSave"
                [disabled]="submitted"
                color="primary"
                mat-raised-button
                (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
        </button>
        <button id="btnDelete"
                [disabled]="submitted || !data?.bpAddressId"
                type="button"
                color="warn"
                mat-raised-button
                (click)="delete()">
            <mat-icon>delete</mat-icon>
            <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
        </button>
        <button id="btnCancel"
                [disabled]="submitted"
                type="button"
                class="mat-white-bg"
                mat-raised-button
                (click)="cancel()">
            <span>{{'BUTTON.CANCEL'| translate}}</span>
        </button>
    </div>
</form>