<div id="products"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="space-evenly start">
            <app-breadscumb></app-breadscumb>
            <div fxLayout="column" class="w-full min-h-13"
                 fxLayoutAlign="center center"
                 fxLayout.gt-xs="row"
                 fxLayoutAlign.gt-xs="flex-start center">
                 <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex.xs="100%"
                     fxFlex.gt-xs="50%">
                    <mat-icon class="logo-icon mr-16"> person </mat-icon>
                    <span class="logo-text h1"> {{'USERS_MANAGEMENT_HEADER' | translate}} </span>
                </div>
                <!-- / APP TITLE -->

                <div fxLayout="column"
                     fxLayoutAlign="center center"
                     fxLayout.gt-xs="row"
                     fxLayoutAlign.gt-xs="space-between center"
                     fxFlex.xs="100%"
                     fxFlex.gt-xs="50%">
                    <!-- SEARCH -->
                    <input-search placeholder="{{'FILTER_USERS' | translate}}"
                                  [autofocus]="true"
                                  (onSearch)="filterChange($event)"></input-search>
                    <!-- / SEARCH -->


                    <div>
                        <button mat-raised-button
                                color="primary"
                                (click)="addNew()"
                                class="my-12 mt-sm-0 ml-10">
                            <span>{{'BUTTON_NEW' | translate}}</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg pos-relativ">
            <mat-table #table
                       [ngClass]="{'d-none': !dataSource.totalCount}"
                       [dataSource]="dataSource"
                       fusePerfectScrollbar>

                <ng-container cdkColumnDef="fullName">
                    <mat-header-cell *cdkHeaderCellDef>{{'USERS_TABLE.COL_NAME' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row"
                              [ngClass]="{'inactive': row.userStateId !== 1}">
                        <p class="text-truncate">{{row.fullName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="userName">
                    <mat-header-cell *cdkHeaderCellDef>{{'USERS_TABLE.COL_USERNAME' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row"
                              [ngClass]="{'inactive': row.userStateId !== 1}">
                        <p class="status">{{row.userName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="userState">
                    <mat-header-cell *cdkHeaderCellDef>{{'USERS_TABLE.COL_STATE' | translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row"
                              [ngClass]="{'inactive': row.userStateId !== 1}">
                        <p>{{row.userStateName}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row matRipple
                         *cdkRowDef="let row; columns: displayedColumns;"
                         (click)="goToDetail(row)">
                </mat-row>
            </mat-table>
            <mat-paginator #tablePaginator
                           [ngClass]="{'d-none': !dataSource.totalCount}"
                           [length]="dataSource.totalCount"
                           [pageIndex]="0"
                           [pageSize]="20">
            </mat-paginator>

            <loading-view *ngIf="dataSource.loading$ | async"></loading-view>

            <div *ngIf="!dataSource.totalCount && !searchText"
                 class="no-data">{{'MESSAGE.NO_USERS' | translate}}</div>
            <div *ngIf="!dataSource.totalCount && searchText"
                 class="no-data">{{'NO_RESULTS' | translate}}</div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>