<div id="product" class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="space-evenly start">
            <!-- APP TITLE -->
            <app-breadscumb></app-breadscumb>
            <div id="header" fxLayout="row" fxLayoutAlign="start center" class="h2 min-h-13">
                {{'HEADER_TITLE_USER_DETAIL' | translate}}: {{userFullName}}
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content" fxLayout="column">
                <form [formGroup]="frm" class="w-100-p" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
                    <div class="w-full">
                        <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event.index)">
                            <mat-tab label="{{'USER_TAB_ACCOUNT' | translate}}">
                                <div class="p-24" fxLayout="column" fxLayoutAlign="center start">
                                    <div fxLayout="column" class="max-w-12">
                                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                                                <mat-form-field class="w-100-p">
                                                    <input name="fullName" required matInput formControlName="fullName" placeholder="{{'USER_DETAIL.NAME' | translate}}">
                                                    <mat-error *ngIf="frm.get('fullName').hasError('required')">
                                                        {{'FORM_VALIDATOR.FULLNAME_REQUIRE' | translate}}
                                                    </mat-error>
                                                </mat-form-field>
        
                                                <mat-form-field class="w-100-p">
                                                    <input name="userName" required matInput formControlName="userName" placeholder="{{'USER_DETAIL.USER_NAME' | translate}}">
                                                    <mat-error *ngIf="frm.get('userName').hasError('required')">
                                                        {{'FORM_VALIDATOR.USERNAME_REQUIRE' | translate}}
                                                    </mat-error>
                                                </mat-form-field>
                                        </div>
    
                                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                                            <div class="w-full">
                                                <mat-form-field class="w-full">
                                                    <mat-select placeholder="{{'PLACEHOLDER.PERSPECTIVE' | translate}}" formControlName="perspective">
                                                        <mat-option *ngFor="let item of perspectives" [value]="item.id">
                                                            {{item.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="frm.get('perspective').hasError('required') && frm.get('perspective').pristine">
                                                        {{'FORM_VALIDATOR.PERSPECTIVE_REQUIRE' | translate}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="w-full">
                                                <mat-form-field class="w-full">
                                                    <mat-select placeholder="{{'PLACEHOLDER.STATE' | translate}}" formControlName="userStateId">
                                                        <mat-option *ngFor="let item of userStates" [value]="item.id">
                                                            {{item.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="frm.get('userStateId').hasError('required') && frm.get('userStateId').pristine">
                                                        {{'FORM_VALIDATOR.USER_SATE_REQUIRE' | translate}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
    
                                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                                            <mat-form-field class="w-100-p">
                                                <input name="email" required matInput formControlName="email" placeholder="{{'USER_DETAIL.EMAIL' | translate}}">
                                                <mat-error *ngIf="frm.get('email').hasError('required')">
                                                    {{'FORM_VALIDATOR.EMAIL_REQUIRE' | translate}}
                                                </mat-error>
                                                <mat-error *ngIf="frm.get('email').hasError('isInvalidEmail')">
                                                    {{'FORM_VALIDATOR.INVALID_EMAIL' | translate}}
                                                </mat-error>
                                            </mat-form-field>

    
                                            <div class="w-100-p">
                                                <phone-number-input [placeholder]="'USER_DETAIL.PHONE' | translate" formControlName="phone"></phone-number-input>
                                                <mat-error *ngIf="frm.get('phone').hasError('invalidNumber')">
                                                    {{'FORM_VALIDATOR.LETTERS_NOT_ALLOWED' | translate}}
                                                </mat-error>
                                                <mat-error *ngIf="frm.get('phone').hasError('invalidPhoneNumber')">
                                                    {{'FORM_VALIDATOR.INVALID_PHONE_NUMBER' | translate}}
                                                </mat-error>
                                            </div>
                                        </div>
    
                                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px">
                                            <mat-form-field class="w-100-p">
                                                <textarea matInput
                                                name="note"
                                                formControlName="note"
                                                placeholder="{{'USER_DETAIL.NOTE' | translate}}"
                                                rows="3">
                                                </textarea>
                                            </mat-form-field>
                                        </div>
    
                                        <div fxLayout="column" fxLayoutGap.gt-xs="10px">
                                            <span class="font-size-17">{{'LAST_UPDATE' | translate}} {{user?.updatedTime | localizedDateTime | async}}</span>
                                            <span class="font-size-17">{{'PASSWORD_CHANGED' | translate}} {{user?.passwordChangedTime | localizedDateTime | async}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div fxLayout="column" fxLayoutAlign="center center"  style="max-width: 600px" class="p-24" fusePerfectScrollbar>

                                   
                                </div> -->
                            </mat-tab>
                            <mat-tab label="{{'USER_TAB_PRIVILEGES' | translate}}">
                                <field-chooser
                                    [selectedListTitle]="'ASSIGNED_ROLES' | translate"
                                    [availableListTitle]="'AVAILABLE_ROLES' | translate"
                                    [availableList]="availableRoles"
                                    [selectedList]="currentRoles"
                                    (onValueChange)="onRolesChange($event)">
                                </field-chooser>
                            </mat-tab>

                            <mat-tab [disabled]="!userId">
                                <ng-template mat-tab-label>
                                    <span matTooltip="{{ userId ? '' : 'USER_TAB_SELECT_TAGS_DISABLED' | translate}}">{{'USER_TAB_SELECT_TAGS' | translate}}</span>
                                </ng-template>
                               <select-tags 
                                [entityName]="'PAUser'" 
                                [itemId]="userId"
                                (onGotoManageTags)="onGotoManageTags()"
                                (onCancel)="onCancel()"
                                (onSelectedChange)="onSelectedChange($event)">
                                </select-tags>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                    <div class="w-full bd-top" *ngIf="!showSelectTag">
                        <div class="pb-10 pt-10 max-w-12" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
                            <button id="btnSave" [disabled]="submitted" color="primary" mat-raised-button  (click)="onSubmit()">
                                <mat-icon>save</mat-icon>
                                <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                            </button>
                            <button id="btnDelete" [disabled]="submitted || !userId" type="button" color="warn" mat-raised-button  (click)="delete()">
                                <mat-icon>delete</mat-icon>  
                                <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                            </button>
                            <button id="btnResetPwd" [disabled]="submitted || !userId" type="button" color="primary" mat-raised-button  (click)="resetPassword()">
                                <mat-icon>vpn_key</mat-icon>    
                                <span class="pl-5">{{'BUTTON.RESET_PASSWORD'| translate}}</span>
                            </button>
                            <button id="btnCancel" [disabled]="submitted" type="button" class="mat-white-bg" mat-raised-button  (click)="cancel()">
                                <span>{{'BUTTON.CANCEL'| translate}}</span>
                            </button>
                        </div>
                    </div>
                        
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>