.region-code {
  color: #bfbfbf
}

.font-size-17 {
  font-size: 17px
}

.frm-err-msg {
  padding-left: 24px;
}

.phone-number { 
  height: 44.7px;
  width: 100%;
}

.bd-top {
  border-top: solid #bfbfbf;
}