<div>
  <mat-table #table
             [dataSource]="dataSource"
             fusePerfectScrollbar>

      <ng-container cdkColumnDef="mcSystemName">
          <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.PARTICIPATION.MANAGED_CARE_SYSTEM' | translate}}</mat-header-cell>
          <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}"
                    *cdkCellDef="let row">
              <p class="text-truncate">{{row.mcSystemName}}</p>
          </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="participationTypeName">
          <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.PARTICIPATION.PARTICIPATION_TYPE' | translate}}</mat-header-cell>
          <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}"
                    *cdkCellDef="let row">
              <p class="text-truncate">{{row.participationTypeName}}</p>
          </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="validFrom">
          <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.PARTICIPATION.FROM' | translate}}</mat-header-cell>
          <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}"
                    *cdkCellDef="let row">
              <p class="text-truncate">{{row.validFrom | localizedDate | async}}</p>
          </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="validTill">
          <mat-header-cell *cdkHeaderCellDef>{{'DEPARTMENTS.DETAILS.PARTICIPATION.TILL' | translate}}</mat-header-cell>
          <mat-cell [inactiveSystem]="{from: row.validFrom, to: row.validTill}"
                    *cdkCellDef="let row">
              <p class="text-truncate">{{row.validTill | localizedDate | async}}</p>
          </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row matRipple
               *cdkRowDef="let row; columns: displayedColumns;"
               (click)="rowClick(row)">
      </mat-row>
  </mat-table>
</div>