:host {
    .mat-header-row {
        min-height: 45px;
    }

    .mat-header-cell {
        font-size: 14px
    }

    .mat-column-mcSystemName {
        max-width: 300px;
    }

    .mat-column-participationTypeName {
        max-width: 300px;
    }

    .mat-column-validFrom {
        max-width: 150px;
    }

    .mat-column-validTill {
        max-width: 150px;
        padding-right: 0 !important;
    }
}