<form [formGroup]="frm" class="p-20 max-w-14">

    <mat-form-field class="w-100-p">
        <input name="name" required matInput formControlName="name" placeholder="{{'DEPARTMENTS.DETAILS.BASIC_INFO.NAME' | translate}}">
        <mat-error *ngIf="frm.get('name').hasError('required')">
            {{'DEPARTMENTS.FORM_VALIDATOR.NAME_REQUIRED' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100-p">
        <input name="shortcut" matInput formControlName="shortcut" placeholder="{{'DEPARTMENTS.DETAILS.BASIC_INFO.SHORTCUT' | translate}}">
    </mat-form-field>
    <!-- <a class="text-truncate link" target="_blank" routerLink="/department/{{row.id}}/edit">{{row.departmentName}}</a> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <label class="fs-16">{{'DEPARTMENTS.DETAILS.BASIC_INFO.PARENT_DEPARTMENT_NAME' | translate}}</label>
            <a class="fs-16 link pl-5 pr-15" target="_blank" routerLink="/business-partners/{{businessPartnerId}}/department/{{parentDepartmentId}}/edit">{{parentDepartmentName}}</a>
        </div>
        <button id="btnSave" color="primary" mat-raised-button (click)="changeSuperiorDepartment()" [disabled]="!departmentId">
            <span class="pl-5">{{'BUTTON.CHANGE'| translate}}</span>
        </button>
    </div>

    <div class="pt-20" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <label class="fs-16">{{'DEPARTMENTS.DETAILS.BASIC_INFO.BUSINESS_PARTNER' | translate}}</label>
            <div *ngIf="businessPartners.length">
                <a class="fs-16 link pl-5 pr-5" target="_blank" routerLink="/business-partners/{{businessPartners[0].id}}">{{businessPartners[0].name}}</a>
                <div *ngIf="businessPartners.length > 1">
                    <span>(+{{businessPartners.length - 1}} previous)</span> <span class="pl-5 link" (click)="showAllBusinessPartner()">
                        {{'DEPARTMENTS.DETAILS.BASIC_INFO.SEE_MORE_PARTNER' | translate}}
                    </span>
                </div>
            </div>
        </div>
        <div matTooltip="{{parentDepartmentName === '' ? '' : 'DEPARTMENTS.TOOLTIP.CHANGE_BP_PARTNER' | translate}}">
            <button [disabled]="!!parentDepartmentName || !departmentId" id="btnSave" color="primary" mat-raised-button
                (click)="changeBusinessPartner()">
                <span class="pl-5">{{'BUTTON.CHANGE'| translate}}</span>
            </button>
        </div>
    </div>

    <mat-form-field class="w-full pt-20">
        <mat-select placeholder="{{'DEPARTMENTS.DETAILS.BASIC_INFO.DEPARTMENT_TYPE' | translate}}*" formControlName="departmentTypeId">
            <!-- <mat-option [value]="null">{{'NONE_OPTION' | translate}}</mat-option> -->
            <mat-option *ngFor="let item of departmentTypes" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="frm.get('departmentTypeId').hasError('required')">
            {{'DEPARTMENTS.FORM_VALIDATOR.DEPARTMENT_TYPE_REQUIRED' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-select-search class="w-full pt-20"
        [keyField]="'id'"
        [hasNoneOption]="true"
        [noEntriesFoundLabel]="'MESSAGE.NOT_FOUND' | translate"
        [placeholderSearch]="'DEPARTMENTS.DETAILS.BASIC_INFO.SPECIALTY' | translate"
        [placeholder]="'DEPARTMENTS.DETAILS.BASIC_INFO.SPECIALTY' | translate" [list]="specialties"
        formControlName="specialtyId">
    </mat-select-search>

    <div fxLayout="row">
        <mat-form-field class="max-w-3">
            <input name="minAge" matInput numbersOnly min="0" max="100" maxlength="2" formControlName="minAge"
                placeholder="{{'DEPARTMENTS.DETAILS.BASIC_INFO.AGE_FROM' | translate}}">
            <mat-error *ngIf="frm.get('minAge').hasError('invalid')" style="height: 20px;">
                {{'DEPARTMENTS.FORM_VALIDATOR.AGE_RANGE_INVALID' | translate}}
            </mat-error>
            <mat-error *ngIf="frm.get('minAge').hasError('min') || frm.get('minAge').hasError('max')" style="height: 20px;">
                {{'DEPARTMENTS.FORM_VALIDATOR.AGE_INVALID' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="max-w-3 pl-15">
            <input name="maxAge" matInput min="0" max="100" maxlength="2" numbersOnly formControlName="maxAge"
                placeholder="{{'DEPARTMENTS.DETAILS.BASIC_INFO.AGE_TILL' | translate}}">
            <mat-error *ngIf="frm.get('minAge').hasError('min') || frm.get('minAge').hasError('max')" style="height: 20px;">
                {{'DEPARTMENTS.FORM_VALIDATOR.AGE_INVALID' | translate}}
            </mat-error>
        </mat-form-field>
    </div>
    
    <mat-form-field class="w-100-p">
            <textarea name="publicNote" matInput matTextareaAutosize matAutosizeMinRows=3 formControlName="privateNote"
            placeholder="{{'DEPARTMENTS.DETAILS.BASIC_INFO.PRIVATE_NOTE' | translate}}">
        </textarea>
    </mat-form-field>

    <div>
        <rich-text-editor [label]="'DEPARTMENTS.DETAILS.BASIC_INFO.PUBLIC_NOTE' | translate" formControlName="publicNote"></rich-text-editor>
    </div>

    <div class="pt-30">
        <rich-text-editor [label]="'DEPARTMENTS.DETAILS.BASIC_INFO.PARTNER_NOTE' | translate" formControlName="partnerNote"></rich-text-editor>
    </div>
</form>