<div class="dialog_header">
    <h1 style="text-align: center"
        mat-dialog-title>{{'DEPARTMENTS.CHANGE_SUPERIOR_DEPARTMENT' | translate}}</h1>
</div>

<div mat-dialog-content>
    <div>
        <mat-checkbox (click)="onClick($event)"
                      [(ngModel)]="isShowDepartment">{{'DEPARTMENTS.SHOW_DEPARTMENT_CHECK_BOX' | translate}}</mat-checkbox>
    </div>
    <div fxLayout="column"
         class="pl-25"
         *ngIf="isShowDepartment">
        <span>{{'DEPARTMENTS.CHANGE_BUSINESS_PARTNER_TITLE' | translate}}</span>
        <mat-radio-group (change)="onChangeOption($event)" [(ngModel)]="option"
                         fxLayout="column">
            <mat-radio-button checked="true" class="max-h-10"
                              value="1">
                {{'DEPARTMENTS.CHANGE_BUSINESS_PARTNER_OPTION_1' | translate}}:
                <mat-form-field class="max-w-3">
                    <input (dateChange)="onDateChange($event.value)"
                           matInput
                           [matDatepicker]="picker"
                           placeholder="{{'DEPARTMENTS.CHOOSE_A_DATE' | translate}}">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-radio-button>
            <mat-error *ngIf="showError" class="pb-10">
                {{'DEPARTMENTS.FORM_VALIDATOR.DATE_CHANGE_REQUIRED' | translate}}
            </mat-error>
            <mat-radio-button value="2">{{'DEPARTMENTS.CHANGE_BUSINESS_PARTNER_OPTION_2' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>
    <form [formGroup]="frm"
          class="w-full">
        <mat-select-search (textSearchServerChange)="onSearchState($event)"
                           [keyField]="'id'"
                           [displayMulti]="displayFields"
                           [searchOnServer]="true"
                           [debounceTime]="500"
                           [placeholderSearch]="'DEPARTMENTS.SEARCH_DEPARTMENT' | translate "
                           [placeholder]="'DEPARTMENTS.SEARCH_DEPARTMENT' | translate"
                           [list]="departments"
                           formControlName="department">
        </mat-select-search>
        <mat-error *ngIf="frm.get('department').hasError('required') && frm.dirty">
            {{'DEPARTMENTS.FORM_VALIDATOR.DEPARTMENT_REQUIRED' | translate}}
        </mat-error>
    </form>
</div>

<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="space-between start">
    <button color="primary"
            id="btnNo"
            mat-button
            (click)="close(false)">{{'BUTTON.CANCEL' | translate}}
    </button>
    <button mat-button
            id="btnYes"
            color="accent"
            (click)="close(true)"
            cdkFocusInitial>{{'BUTTON.APPLY' | translate}}
    </button>
</div>