<div id="product"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->

        <div class="header mat-accent-bg"
             fxLayout="column"
             fxLayoutAlign="space-evenly start">
            <app-breadscumb #breadscrumb></app-breadscumb>
            <!-- APP TITLE -->
            <div id="header"
                 *ngIf="!tagTypeId"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 class="h2 min-h-13">
                {{'TAGS_MANAGEMENT.CREATE_TAG_TYPE_TITLE' | translate}}
            </div>
            <div id="header"
                 *ngIf="tagTypeId"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 class="h2 min-h-13">
                {{'TAGS_MANAGEMENT.EDIT_TAG_TYPE_TITLE' | translate}}: {{tagTypeName}}
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content"
                 fxLayout="column">
                <div class="w-100-p"
                     fxLayout="column"
                     fxLayoutAlign="space-between start"
                     fxFlex>
                    <div class="w-full p-24"
                         fusePerfectScrollbar>
                        <form [formGroup]="frm">
                            <div class="section">
                                <mat-form-field class="w-100-p pb-30">
                                    <input matInput
                                           [autofocus]="true"
                                           formControlName="name"
                                           placeholder="{{'TAGS_MANAGEMENT.PLACEHOLDER.TAG_TYPE_NAME' | translate}}">
                                    <mat-error class="pb-5"
                                               *ngIf="frm.get('name').hasError('required')">
                                        {{'TAGS_MANAGEMENT.FORM_VALIDATOR.TAG_TYPE_NAME_REQUIRED' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>

                    <div class="w-full bd-top">
                        <div class="pl-20 pb-10 pt-10"
                             fxLayout="column"
                             fxLayout.gt-xs="row"
                             fxLayoutGap="30px"
                             fxLayoutAlign="start center">
                            <button id="btnSave"
                                    [disabled]="submitted"
                                    color="primary"
                                    mat-raised-button
                                    (click)="save()">
                                <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                            </button>
                            <button id="btnDelete"
                                    [disabled]="submitted || !tagTypeId"
                                    type="button"
                                    color="warn"
                                    mat-raised-button
                                    (click)="delete()">
                                <mat-icon>delete</mat-icon>
                                <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                            </button>
                            <button id="btnCancel"
                                    [disabled]="submitted"
                                    type="button"
                                    class="mat-white-bg"
                                    mat-raised-button
                                    (click)="close()">
                                <span>{{'BUTTON.CLOSE'| translate}}</span>
                            </button>
                        </div>
                    </div>

                </div>

                <loading-view *ngIf="isLoadingTags"></loading-view>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>