<form [formGroup]="frm"
          class="p-20">
    <div>
        <div fxLayout="column"
            fxLayout.gt-xs="row"
            fxLayoutGap.gt-xs="10px">
            <div class="w-full">
                <mat-form-field class="w-full">
                        <input name="salutation"
                                matInput
                                formControlName="salutation"
                                placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.SALUTATION' | translate}}">
                    </mat-form-field>
            </div>
            <div class="w-full">
                <mat-form-field class="w-full">
                        <input name="name"
                                required
                                matInput
                                formControlName="name"
                                placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.NAME' | translate}}">
                        <mat-error *ngIf="frm.get('name').hasError('required')">
                            {{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.FORM_VALIDATOR.NAME_REQUIRED' | translate}}
                        </mat-error>
                    </mat-form-field>
            </div>
        </div>

        <mat-form-field class="w-100-p">
            <input name="position"
                    matInput
                    formControlName="position"
                    placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.POSITION' | translate}}">
        </mat-form-field>

        <div fxLayout="column"
              fxLayout.gt-xs="row"
              fxLayoutGap.gt-xs="10px">
            <div class="w-full">
                <phone-number-input [disabled]="isDisableForm" [placeholder]="'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.PHONE' | translate" formControlName="phone"></phone-number-input>
                <mat-error *ngIf="frm.get('phone').hasError('invalidNumber')">
                    {{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.FORM_VALIDATOR.LETTERS_NOT_ALLOWED' | translate}}
                </mat-error>
                <mat-error *ngIf="!frm.get('phone').hasError('invalidNumber') && frm.get('phone').hasError('invalidPhoneNumber')">
                    {{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.FORM_VALIDATOR.INVALID_PHONE_NUMBER' | translate}}
                </mat-error>
            </div>

            <div class="w-full">
                <phone-number-input [disabled]="isDisableForm" [placeholder]="'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.PHONE2' | translate" formControlName="phone2"></phone-number-input>
                <mat-error *ngIf="frm.get('phone2').hasError('invalidNumber')">
                        {{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.FORM_VALIDATOR.LETTERS_NOT_ALLOWED' | translate}}
                </mat-error>
                <mat-error *ngIf="!frm.get('phone2').hasError('invalidNumber') && frm.get('phone2').hasError('invalidPhoneNumber')">
                        {{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.FORM_VALIDATOR.INVALID_PHONE_NUMBER' | translate}}
                </mat-error>    
            </div>
            <div class="w-full mt-16">
                <mat-checkbox class="pr-10" formControlName="smsSupport">{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.SMS' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="mmsSupport">{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.MMS' | translate}}</mat-checkbox>
            </div>
        </div>

          <div fxLayout="column"
              fxLayout.gt-xs="row"
              fxLayoutGap.gt-xs="10px">
            <div class="w-full">
                <mat-form-field class="w-full">
                    <input name="email"
                            matInput
                            formControlName="email"
                            placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.EMAIL' | translate}}">
                    <a mat-button *ngIf="!frm.get('email').hasError('email') && frm.get('email').value" matSuffix mat-icon-button aria-label="Send"
                        [href]="'mailto:' + frm.get('email').value">
                        <mat-icon>send</mat-icon>
                    </a>
                    <mat-error *ngIf="frm.get('email').hasError('email')">
                        {{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.FORM_VALIDATOR.EMAIL_INVALID' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="w-full">
                <mat-form-field class="w-full">
                    <input name="website"
                            matInput
                            formControlName="website"
                            placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.WEB' | translate}}">
                        <a mat-button *ngIf="frm.get('website').value" matSuffix mat-icon-button aria-label="Clear"
                            [href]="'//'+frm.get('website').value" target="_blank">
                            <i class="material-icons">open_in_new</i>
                        </a>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="w-full">
            <textarea name="otherContact"
                matInput
                formControlName="otherContact"
                matTextareaAutosize
                matAutosizeMinRows=3
                placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.OTHER_CONTACTS' | translate}}"></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
            <textarea name="note"
                    matInput
                    formControlName="note"
                    matTextareaAutosize
                    matAutosizeMinRows=3
                    placeholder="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.NOTE' | translate}}"></textarea>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="w-full">
                <span class="font-17">{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.ADDRESS' | translate}}:</span>
                <address-format [addressDetail]="address"></address-format>
            </div>
            <div class="pl-10">
                <button id="btnSelectAddress"
                        [disabled]="isDisableForm"
                        color="blue-500-bg"
                        mat-raised-button
                        (click)="selectAddress()">
                    <span class="pl-5">{{'BUTTON.SELECT'| translate}}</span>
                </button>
            </div>
        </div>


        <div fxLayout="row"
            class="pt-15 pb-15"
            fxLayoutAlign="space-between center">
            <mat-checkbox class="pr-10" formControlName="active">{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.IS_ACTIVE' | translate}}</mat-checkbox>
        </div>
    </div>

    <div class="pt-20" *ngIf="enableActions"
              fxLayout="column"
              fxLayout.gt-xs="row"
              fxLayoutGap="10px"
              fxLayoutAlign="space-evenly center">
            <button id="btnSave"
                    [disabled]="submitted"
                    color="primary"
                    mat-raised-button
                    (click)="onSubmit()">
                <mat-icon>save</mat-icon>
                <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
            </button>
            <button id="btnDelete"
                    [disabled]="submitted || !data?.personId"
                    type="button"
                    color="warn"
                    mat-raised-button
                    (click)="delete()">
                <mat-icon>delete</mat-icon>
                <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
            </button>
            <button id="btnCancel"
                    [disabled]="submitted"
                    type="button"
                    class="mat-white-bg"
                    mat-raised-button
                    (click)="cancel()">
                <span>{{'BUTTON.CANCEL'| translate}}</span>
            </button>
    </div>
</form>