<div id="product" class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="space-evenly start">
            <!-- APP TITLE -->
            <app-breadscumb></app-breadscumb>
            <div fxLayout="column" class="w-full min-h-13"
                 fxLayoutAlign="center center"
                 fxLayout.gt-xs="row"
                 fxLayoutAlign.gt-xs="flex-start center">
                 <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxFlex.xs="100%">
                    <span class="logo-text h1"> {{'BUSINESS_PARTNER.PARTNER_DETAIL_TITLE' | translate}}: {{partnerDetail?.name ? partnerDetail.name : 'NO_NAME' | translate}} </span>
                </div>
                <!-- / APP TITLE -->

                <div fxLayout="column" *ngIf="selectedTab !== 0"
                     fxLayoutAlign="center center"
                     fxLayout.gt-xs="row"
                     fxLayoutAlign.gt-xs="space-between center"
                     fxFlex.xs="100%">
                    <!-- SEARCH -->
                    <div [style.visibility]="[2, 4].includes(selectedTab) ?'visible':'hidden'">
                        <input-search placeholder="{{selectedTab === 2 ? ('BUSINESS_PARTNER.FILTER_CONTACT_PERSONS' | translate) : 
                                                    ('BUSINESS_PARTNER.FILTER_DEPARTMENT' | translate)}}"
                                  [autofocus]="true"
                                  (onSearch)="filterChange($event)"></input-search>
                    </div>
                   
                    <!-- / SEARCH -->

                    <div>
                        <button mat-raised-button
                                color="primary"
                                (click)="addNew()"
                                class="my-12 mt-sm-0 ml-10">
                            <span>{{selectedTab === 1 ? ('BUSINESS_PARTNER.BUTTON.NEW_ADDRESS' | translate) : 
                                    selectedTab === 2 ? ('BUSINESS_PARTNER.BUTTON.NEW_CONTACT_PERSON' | translate) :
                                    selectedTab === 3 ? ('BUSINESS_PARTNER.BUTTON.NEW_BANK_ACCOUNT' | translate) :
                                    ('BUSINESS_PARTNER.BUTTON.NEW_DEPARTMENT' | translate)}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content" fxLayout="column" fxLayoutAlign="space-between start">
                <div class="w-full patner-detail h-18-percent">
                    <mat-tab-group #tabs class="w-full" (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTab">
                        <mat-tab label="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BASIC_INFO.LABEL' | translate}}">
                          <partner-basic-information #basicInfo [partnerID]="partnerID"></partner-basic-information>
                        </mat-tab>

                        <mat-tab  [disabled]="isNewPartner" label="{{'BUSINESS_PARTNER.PARTNER_DETAIL.ADDRESSES.LABEL' | translate}}">
                           <partner-addresses #patnerAddresses [partnerID]="partnerID"></partner-addresses>
                        </mat-tab>

                        <mat-tab [disabled]="isNewPartner" label="{{'BUSINESS_PARTNER.PARTNER_DETAIL.CONTACT_PERSONS.LABEL' | translate}}">
                            <partner-contact-person #partnerContact [partnerID]="partnerID"></partner-contact-person>
                        </mat-tab>

                        <mat-tab [disabled]="isNewPartner" label="{{'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.LABEL' | translate}}">
                            <partner-bank-accounts #bankAccounts [partnerID]="partnerID"></partner-bank-accounts>
                        </mat-tab>

                        <mat-tab [disabled]="isNewPartner" label="{{'BUSINESS_PARTNER.PARTNER_DETAIL.DEPARTMENTS.LABEL' | translate}}">
                            <subordinate-departments #subordinateDepartments></subordinate-departments>
                        </mat-tab>
                    </mat-tab-group>
                </div>

                <div *ngIf="selectedTab === 0" class="w-full h-2-percent bd-top">
                    <div class="pb-10 pl-10 pt-10 max-w-14" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
                        <button id="btnSave" [disabled]="submitted" color="primary" mat-raised-button  (click)="onSubmit()">
                            <mat-icon>save</mat-icon>
                            <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                        </button>
                        <button id="btnDelete" [disabled]="submitted || isNewPartner" type="button" color="warn" mat-raised-button  (click)="delete()">
                            <mat-icon>delete</mat-icon>  
                            <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                        </button>
                        <button id="btnCancel" [disabled]="submitted" type="button" class="mat-white-bg" mat-raised-button  (click)="cancel()">
                            <span *ngIf="(isFormChange$ | async)">{{'BUTTON.CANCEL'| translate}}</span>
                            <span *ngIf="!(isFormChange$ | async)">{{'BUTTON.CLOSE'| translate}}</span>
                        </button>
                    </div>
                </div>
                    
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>