<div class="search-input-wrapper"  fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
  <label *ngIf="showIcon" for="search" class="mr-8">
    <mat-icon class="secondary-text">search</mat-icon>
  </label>
  <mat-form-field floatLabel="never" fxFlex="1 0 auto">
    <input [autofocus]="autofocus" id="search" matInput #inputSearch placeholder="{{placeholder}}" [(ngModel)]="searchValue" (input)="onInputChange($event)">
  </mat-form-field>
</div>
