<mat-tree [dataSource]="dataSource" 
          [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodeToggle
                   matTreeNodePadding>
        <mat-checkbox *ngIf="showCheckbox"
                        class="checklist-leaf-node"
                        style="padding-right: 10px"
                        [checked]="checklistSelection.isSelected(node) || node.isSelected"
                        (change)="todoItemSelectionToggle(node)"> {{node.name}}
        </mat-checkbox>
        <button *ngIf="!showCheckbox" mat-icon-button (click)="todoItemSelectionToggle(node)" >{{node.name}}</button>
        <button mat-icon-button
                *ngIf="showCoppy"
                (click)="action(node, 'doCopy')"
                matTooltip="{{'TREE_VIEW.BUTTON.COPY_NODE' | translate}}">
            <mat-icon class="copy">content_copy</mat-icon>
        </button>
        <div *ngIf="showActions">
            <button mat-icon-button
                    [matMenuTriggerFor]="actionsMenu"
                    matTooltip="{{'TREE_VIEW.BUTTON.ACTIONS' | translate}}">
                <mat-icon color="accent">more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu">
                <div fxLayout="row">
                    <div *ngIf="showAddNew">
                        <button mat-icon-button
                                (click)="action(node, 'addNew')"
                                matTooltip="{{'TREE_VIEW.BUTTON.NEW_CHILD' | translate}}">
                            <mat-icon color="accent">add_to_photos</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="showEdit">
                        <button mat-icon-button
                                (click)="action(node, 'viewDetail')"
                                matTooltip="{{'TREE_VIEW.BUTTON.DETAIL' | translate}}">
                            <mat-icon class="detail">edit</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="showDelete">
                        <button mat-icon-button
                                (click)="action(node, 'remove')"
                                matTooltip="{{'TREE_VIEW.BUTTON.REMOVE' | translate}}">
                            <mat-icon color="warn">delete_forever</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-menu>
        </div>
       
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                   matTreeNodePadding>
        <button mat-icon-button [disableRipple] = "true" class="btn-parent"
                matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            {{node.name}}
        </button>

        <button mat-icon-button
                *ngIf="showCoppy"
                (click)="action(node, 'doCopy')"
                matTooltip="{{'TREE_VIEW.BUTTON.COPY_NODE' | translate}}">
            <mat-icon class="copy">content_copy</mat-icon>
        </button>

        <div *ngIf="showActions">
            <button mat-icon-button
                    [matMenuTriggerFor]="actionsMenu"
                    matTooltip="{{'TREE_VIEW.BUTTON.ACTIONS' | translate}}">
                <mat-icon color="accent">more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu">
                <div fxLayout="row">
                    <div *ngIf="showAddNew">
                        <button mat-icon-button
                                (click)="action(node, 'addNew')"
                                matTooltip="{{'TREE_VIEW.BUTTON.NEW_CHILD' | translate}}">
                            <mat-icon color="accent">add_to_photos</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="showEdit">
                        <button mat-icon-button
                                (click)="action(node, 'viewDetail')"
                                matTooltip="{{'TREE_VIEW.BUTTON.DETAIL' | translate}}">
                            <mat-icon class="detail">edit</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="showDelete">
                        <button mat-icon-button
                                (click)="action(node, 'remove')"
                                matTooltip="{{'TREE_VIEW.BUTTON.REMOVE' | translate}}">
                            <mat-icon color="warn">delete_forever</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-menu>
        </div>

        <!-- <a>{{node.name}}</a> -->
    </mat-tree-node>
</mat-tree>