.detail {
  color: #009688
}

.question {
  color:  #795548
}

.copy {
  color: #3f51b5
}

.selected {
  background: #04a9f44d
}

.mat-menu-panel {
  min-width: unset !important;
}

.btn-parent {
  width: 100% !important;
  display: flex;
}
