<div class="dialog_header">
    <h1 style="text-align: center" [ngClass]="{'errorModal': type === 'error'}"
        mat-dialog-title>{{confirmTitle}}</h1>
</div>

<div mat-dialog-content>
    <p class="msg" [innerHtml]="message"></p>
    <p class="msg-count" *ngIf="errorCount">{{errorCount}} {{'ERROR_COUNT' | translate}}</p>
    <p class="errorModal msg-count" *ngIf="warningMsg">{{warningMsg}}</p>
</div>

<div *ngIf="showCancel"
     mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="space-between start">
    <button color="primary" id="btnNo"
            mat-button
            (click)="close(false)">{{'BUTTON.NO' | translate}}
    </button>
    <button mat-button id="btnYes"
            color="accent"
            (click)="close(true)"
            cdkFocusInitial>{{'BUTTON.YES' | translate}}
    </button>
</div>

<div *ngIf="!showCancel"
     mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="center start">
    <button mat-button id="btnOk"
            color="accent"
            (click)="close(true)"
            cdkFocusInitial>{{'BUTTON.OK' | translate}}
    </button>
</div>