<div class="dialog_header">
    <h1 style="text-align: center"
        class="title"
        mat-dialog-title>{{'MODAL.TITLE.SESSION_EXPIRED' | translate}}</h1>
</div>

<div mat-dialog-content>
    <p>{{'MODAL.CONTENT.SESSION_EXPIRED' | translate}}</p>
</div>

<div mat-dialog-actions>
    <div fxLayout="column" class="w-full">
        <div fxLayout="row"
             fxLayoutGap="20px"
             fxLayoutAlign="space-between start">
            <button color="primary"
                    id="btnNo"
                    mat-button
                    (click)="close(false)">{{'BUTTON.CANCEL' | translate}}
            </button>
            <div fxLayout="column">
                <button mat-raised-button
                        id="btnYes"
                        color="accent"
                        (click)="close(true)"
                        cdkFocusInitial>{{'BUTTON.GOTO_LOGIN_PAGE' | translate}}
                </button>
                <mat-error *ngIf="showWarning">
                        {{'MESSAGE.WARNING_LOST_DATA' | translate}}
                </mat-error>
            </div>

        </div>
        <div style="text-align: center; padding-top: 20px">
            <a target="_blank" (click)="close(false)" routerLink="/sign-in">{{'BUTTON.LOGIN_WITH_NEW_TAB' | translate}}</a>
        </div>
    </div>

</div>