.tag-list {
  padding: 24px;
  height: 60vh;

    
.mat-pseudo-checkbox {
  display: none !important;
}
}

.border {
  border: solid 2px #bfbfbf;
}


.mat-expansion-panel-header {
  border-bottom: 1px solid #e0e0e0;
}

