<div>
    <div>
        <h1 mat-dialog-title>{{'DEPARTMENTS.DETAILS.PARTICIPATION.DETAIL_TITLE' | translate}}</h1>
    </div>

    <div mat-dialog-content>
        <div [formGroup]="frm">
            <mat-form-field class="w-full">
                <mat-select placeholder="{{'DEPARTMENTS.DETAILS.PARTICIPATION.MANAGED_CARE_SYSTEM' | translate}}*"
                            formControlName="mcSystemId">
                    <!-- <mat-option [value]="null">{{'NONE_OPTION' | translate}}</mat-option> -->
                    <mat-option *ngFor="let item of mcSystems"
                                [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="frm.get('mcSystemId').hasError('required') && frm.dirty">
                {{'DEPARTMENTS.FORM_VALIDATOR.SYSTEM_REQUIRED' | translate}}
            </mat-error>

            <mat-form-field class="w-full">
                <mat-select placeholder="{{'DEPARTMENTS.DETAILS.PARTICIPATION.PARTICIPATION_TYPE' | translate}}*"
                            formControlName="participationTypeId">
                    <!-- <mat-option [value]="null">{{'NONE_OPTION' | translate}}</mat-option> -->
                    <mat-option *ngFor="let item of participanttypes"
                                [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="frm.get('participationTypeId').hasError('required') && frm.dirty">
                {{'DEPARTMENTS.FORM_VALIDATOR.PARTICIPATION_TYPE_REQUIRED' | translate}}
            </mat-error>

            <date-range-picker #dateRangePicker 
                formControlName="dateRange" 
                [requiredErrorMsg]="'DEPARTMENTS.FORM_VALIDATOR.VALID_FROM_REQUIRED' | translate"
                [invalidRangeMsg]="'FORM_VALIDATOR.DATE_RANGE_INVALID' | translate"
                [startLabel]="'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.VALID_FROM' | translate"
                [endLabel]="'BUSINESS_PARTNER.PARTNER_DETAIL.BANK_ACCOUNTS.VALID_TILL' | translate">
            </date-range-picker>
        </div>
        <div fxLayout="row"
             fxLayoutGap="20px"
             class="pb-10 pt-10">
            <div>
                <button id="btnSselect"
                        [disabled]="submitted"
                        class="btn-save"
                        mat-raised-button
                        (click)="onSubmit()">
                    <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                </button>
            </div>
            <div>
                <button id="btnEdit"
                        [disabled]="submitted || !data.departmentMcSystemId"
                        type="button"
                        class="btn-delete"
                        mat-raised-button
                        (click)="delete()">
                    <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                </button>
            </div>
            <div>
                <button id="btnCancel"
                        [disabled]="submitted"
                        type="button"
                        class="mat-white-bg"
                        mat-raised-button
                        (click)="cancel()">
                    <span>{{'BUTTON.CANCEL'| translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>