<form fxLayout="column"
      [formGroup]="frmDate"
      class="w-100-p"
      fxLayoutAlign="start start">
    <div fxLayout="row"
         class="w-100-p"
         fxLayoutAlign="start center">
        <div class="pr-30">
            <mat-form-field class="pl-5">
                <input matInput
                       required
                       class="date-input"
                       [matDatepicker]="startDate"
                       placeholder="{{startLabel}}"
                       formControlName="startDate"
                       (dateChange)="onStartDateChange($event.value)">
                <mat-error *ngIf="frmDate.get('startDate').hasError('required')">
                    {{requiredErrorMsg}}
                </mat-error>
                <mat-error *ngIf="frmDate.get('startDate').hasError('invalid')">
                    {{invalidRangeMsg}}
                </mat-error>
                <mat-datepicker-toggle matSuffix
                                       [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="pl-5">
                <input matInput
                       formControlName="endDate"
                       class="date-input"
                       [matDatepicker]="endDate"
                       placeholder="{{endLabel}}"
                       (dateChange)="onEndDateChange($event.value)">
                <mat-datepicker-toggle matSuffix
                                       [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</form>
