<div>
  <div>
      <h1 mat-dialog-title>{{'DEPARTMENTS.EDIT_BP_ADDRESS_TITLE' | translate}}</h1>
  </div>

  <div mat-dialog-content>
      <bp-address-detail-form #addressDetail
          [data]="data"
          [showToast]="false"
          (onCancelChange)="onCancelChange()"
          (onActionSuccess)="onActionSuccess($event)"
      ></bp-address-detail-form>
  </div>
</div>