:host {
  .mat-header-row {
    min-height: 45px;
  }
  .mat-header-cell {
    font-size: 14px
  }

  .mat-column-phone {
    max-width: 120px !important;
  }

  .mat-column-publicVisible  {
    max-width: 30px !important;
  }

  .mat-column-partnerVisible {
    max-width: 50px !important;
    padding-right: 0 !important
  }

  .mat-column-email {
    max-width: 200px !important;
  }

  .mat-column-address {
    padding-right: 0 !important;
  }

  .partnerVisible {
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: goldenrod;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .publicVisible{
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: limegreen;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}