<div>
    <mat-table *ngIf="dataSource.length"
               #table
               [dataSource]="dataSource"
               fusePerfectScrollbar>

        <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_CONTACT.NAME' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.name}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="position">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_CONTACT.POSITION' |translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.position}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="phone">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_CONTACT.PHONE' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.phone}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="email">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_CONTACT.EMAIL' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.email}}</p>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="address">
            <mat-header-cell *cdkHeaderCellDef>{{'BP_CONTACT.ADDRESS' | translate}}</mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active"
                      *cdkCellDef="let row">
                <p class="text-truncate">{{row.address}}</p>
            </mat-cell>
        </ng-container>

        <ng-container *ngIf="useForDepartment"
                      cdkColumnDef="publicVisible">
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active" *cdkCellDef="let row">
                <div matTooltip="{{'BP_CONTACT.VISIBLE_FOR_PUBLIC' | translate}}" *ngIf="row.publicVisible" class="publicVisible"></div>
            </mat-cell>
        </ng-container>

        <ng-container *ngIf="useForDepartment"
                      cdkColumnDef="partnerVisible">
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell [inactiveAddress]="!row.active" *cdkCellDef="let row">
                <div matTooltip="{{'BP_CONTACT.VISIBLE_FOR_PARTNERS' | translate}}" *ngIf="row.partnerVisible" class="partnerVisible"></div>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matRipple
                 *cdkRowDef="let row; columns: displayedColumns;"
                 (click)="rowClick(row)">
        </mat-row>
    </mat-table>
    <!-- <loading-view *ngIf="isLoading$ | async"></loading-view> -->
</div>