<div id="product"
     class="page-layout carded fullwidth inner-scroll h-full">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column"
             fxLayoutAlign="space-evenly start">
            <!-- APP TITLE -->
            <app-breadscumb #breadscrumb></app-breadscumb>
            <div id="header"
                 *ngIf="tagId"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 class="h2 min-h-13">
                {{'TAGS_MANAGEMENT.EDIT_TAG_TITLE' | translate}}: {{tagName}}
            </div>
            <div id="header"
                 *ngIf="!tagId"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 class="h2 min-h-13">
                {{'TAGS_MANAGEMENT.CREATE_TAG_TITLE' | translate}}
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content"
                 fxLayout="column">
                <form [formGroup]="frm"
                      class="w-100-p"
                      fxLayout="column"
                      fxLayoutAlign="space-between start"
                      fxFlex>
                    <div class="max-w-12 p-24">
                        <mat-form-field class="w-100-p pb-30">
                            <input matInput
                                   [autofocus]="true"
                                   formControlName="name"
                                   placeholder="{{'TAGS_MANAGEMENT.PLACEHOLDER.TAG_NAME' | translate}}">
                            <mat-error class="pb-5"
                                       *ngIf="frm.get('name').hasError('required')">
                                {{'TAGS_MANAGEMENT.FORM_VALIDATOR.TAG_NAME_REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>

                        <div fxLayout="column"
                             fxLayout.gt-xs="row"
                             fxLayoutGap="30px"
                             fxLayoutAlign="space-between center">
                            <div>
                                <mat-form-field class="w-full"
                                                style="min-width: 200px;">
                                    <mat-select placeholder="{{'TAGS_MANAGEMENT.PLACEHOLDER.TAG_TYPE' | translate}}"
                                                formControlName="tagTypeId">
                                        <mat-option *ngFor="let item of tagTypes"
                                                    [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="frm.get('tagTypeId').hasError('required') && frm.get('tagTypeId').pristine"
                                               class="pb-5">
                                        {{'TAGS_MANAGEMENT.FORM_VALIDATOR.TAG_TYPE_REQUIRED' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <button id="btnSave"
                                        [disabled]="submitted"
                                        color="primary"
                                        mat-raised-button
                                        (click)="manageTagType()">
                                    <span class="pl-5">{{'TAGS_MANAGEMENT.BUTTON.MANAGE_TAG_TYPES' | translate}}</span>
                                </button>
                            </div>
                        </div>

                        <div fxLayout="row"
                             class="pt-30"
                             fxLayoutAlign="space-between center">
                            <mat-checkbox formControlName="partnerVisible">{{'TAGS_MANAGEMENT.PARTNER_VISIBLE' | translate}}</mat-checkbox>
                            <mat-checkbox formControlName="publicVisible">{{'TAGS_MANAGEMENT.PUBLIC_VISIBLE' | translate}}</mat-checkbox>
                        </div>
                    </div>

                    <div class="w-full bd-top">
                        <div class="pb-10 pt-10 max-w-12"
                             fxLayout="column"
                             fxLayout.gt-xs="row"
                             fxLayoutGap="10px"
                             fxLayoutAlign="space-evenly center">
                            <button id="btnSave"
                                    [disabled]="submitted"
                                    color="primary"
                                    mat-raised-button
                                    (click)="saveTag()">
                                <span class="pl-5">{{'BUTTON.SAVE'| translate}}</span>
                            </button>
                            <button id="btnDelete"
                                    [disabled]="submitted || !tagId"
                                    type="button"
                                    color="warn"
                                    mat-raised-button
                                    (click)="delete()">
                                <mat-icon>delete</mat-icon>
                                <span class="pl-5">{{'BUTTON.DELETE'| translate}}</span>
                            </button>
                            <button id="btnCancel"
                                    [disabled]="submitted"
                                    type="button"
                                    class="mat-white-bg"
                                    mat-raised-button
                                    (click)="close()">
                                <span>{{'BUTTON.CLOSE'| translate}}</span>
                            </button>
                        </div>
                    </div>

                </form>

                <loading-view *ngIf="isLoadingTags"></loading-view>

            </div>

            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>